In [1]:
# encoding: utf-8
from sqlalchemy import create_engine
from pyhive import hive
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np
import sys
import os
import requests
import json
from urllib3 import request

In [2]:
engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@rr-2ze2k9sn688w5h3z51o.mysql.rds.aliyuncs.com:3306/{0}?charset=utf8".format('mgo'))
def reader(query):
    sql=query
    df=pd.read_sql(sql,engine)
    return df

In [3]:
#token获取
header2={"Content-Type":"application/json"}
data1={"username":"admin","password":"17fuwc"}
response0=requests.post(url="https://data.mobilemart.cn/api/auth/login?project=production",
     data=json.dumps(data1),headers=header2)

In [4]:
json.loads(response0.text)['token']

'h2uHqIKA8sNaRnuc7sZl84wqYtNIUMLaXdiftTBRie7MFlvKcoZLeCZPjXWkpaC2KoMA4JWWoPQ3sxmTEDFwWYHgGF54qCpP1d3Ca1ELnKlJtYFAhTiorah4P7BxBhfy'

In [5]:
#测试token是否可用
header1={"Content-Type": "application/json", "sensorsdata-token": 
         json.loads(response0.text)['token']}
response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q=SELECT COUNT(distinct_id) FROM events \
WHERE  event='$AppStart' AND date='2018-12-14'&format=format&project=production",
    headers=header1)

In [6]:
def get_sensor(sql,start_date,end_date):
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql),data='{"mode": "raw","raw": ""}',headers=header1)

In [7]:
sql1='''SELECT date,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os, count(user_id) cnt FROM events
WHERE event = '$AppStart'
AND date BETWEEN '2019-4-19' and '2019-4-21'
group by date, CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by date,`城市` DESC,$os'''
sql2='''SELECT date,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os, count(DISTINCT user_id) cnt FROM events
WHERE event = '$AppStart'
AND date BETWEEN '{}' and '{}'
group by date, CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by date,`城市` DESC,$os'''

In [8]:
response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql1),data='{"mode": "raw","raw": ""}',headers=header1)

In [9]:
response.text

'{"date":"2019-04-19","$os":"Android","cnt":425,"城市":"杭州"}\n{"date":"2019-04-19","$os":"iOS","cnt":381,"城市":"杭州"}\n{"date":"2019-04-19","$os":"Android","cnt":563,"城市":"其他"}\n{"date":"2019-04-19","$os":"iOS","cnt":326,"城市":"其他"}\n{"date":"2019-04-19","$os":"Android","cnt":3919,"城市":"上海"}\n{"date":"2019-04-19","$os":"iOS","cnt":2866,"城市":"上海"}\n{"date":"2019-04-20","$os":"Android","cnt":244,"城市":"杭州"}\n{"date":"2019-04-20","$os":"iOS","cnt":277,"城市":"杭州"}\n{"date":"2019-04-20","$os":"Android","cnt":329,"城市":"其他"}\n{"date":"2019-04-20","$os":"iOS","cnt":246,"城市":"其他"}\n{"date":"2019-04-20","$os":"Android","cnt":1954,"城市":"上海"}\n{"date":"2019-04-20","$os":"iOS","cnt":1659,"城市":"上海"}\n{"date":"2019-04-21","$os":"Android","cnt":301,"城市":"杭州"}\n{"date":"2019-04-21","$os":"iOS","cnt":246,"城市":"杭州"}\n{"date":"2019-04-21","$os":"Android","cnt":381,"城市":"其他"}\n{"date":"2019-04-21","$os":"iOS","cnt":231,"城市":"其他"}\n{"date":"2019-04-21","$os":"Android","cnt":2150,"城市":"上海"}\n{"date":"2019-04-21","$os":"iOS","cnt":1761,"城市":"上海"}\n'

In [10]:
response.text.split('\n')

['{"date":"2019-04-19","$os":"Android","cnt":425,"城市":"杭州"}',
 '{"date":"2019-04-19","$os":"iOS","cnt":381,"城市":"杭州"}',
 '{"date":"2019-04-19","$os":"Android","cnt":563,"城市":"其他"}',
 '{"date":"2019-04-19","$os":"iOS","cnt":326,"城市":"其他"}',
 '{"date":"2019-04-19","$os":"Android","cnt":3919,"城市":"上海"}',
 '{"date":"2019-04-19","$os":"iOS","cnt":2866,"城市":"上海"}',
 '{"date":"2019-04-20","$os":"Android","cnt":244,"城市":"杭州"}',
 '{"date":"2019-04-20","$os":"iOS","cnt":277,"城市":"杭州"}',
 '{"date":"2019-04-20","$os":"Android","cnt":329,"城市":"其他"}',
 '{"date":"2019-04-20","$os":"iOS","cnt":246,"城市":"其他"}',
 '{"date":"2019-04-20","$os":"Android","cnt":1954,"城市":"上海"}',
 '{"date":"2019-04-20","$os":"iOS","cnt":1659,"城市":"上海"}',
 '{"date":"2019-04-21","$os":"Android","cnt":301,"城市":"杭州"}',
 '{"date":"2019-04-21","$os":"iOS","cnt":246,"城市":"杭州"}',
 '{"date":"2019-04-21","$os":"Android","cnt":381,"城市":"其他"}',
 '{"date":"2019-04-21","$os":"iOS","cnt":231,"城市":"其他"}',
 '{"date":"2019-04-21","$os":"Android","cnt":2150,"城市":"上海"}',
 '{"date":"2019-04-21","$os":"iOS","cnt":1761,"城市":"上海"}',
 '']

In [11]:
json.loads(response.text.split('\n')[1])

{'date': '2019-04-19', '$os': 'iOS', 'cnt': 381, '城市': '杭州'}

In [12]:
len(response.text.split('\n'))-1

18

In [13]:
type(response.text.split('\n'))

list

In [14]:
type(response.text.split('\n')[0])

str

In [15]:
json.loads(response.text.split('\n')[0])

{'date': '2019-04-19', '$os': 'Android', 'cnt': 425, '城市': '杭州'}

In [16]:
type(json.loads(response.text.split('\n')[0]))

dict

In [17]:
def get_sensor(sql,start_date,end_date):
    sql=sql.format(start_date,end_date)
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?{0}&format=format&project=production"\
                               .format(request.urlencode({'q':sql})),data='{"mode": "raw","raw": ""}',headers=header1)
    text_split=response.text.split('\n')
    df=pd.DataFrame(columns=['date','city','osys','cnt'])
    for i in range (0,len(response.text.split('\n'))-1):
        day=json.loads(text_split[i])['date']
        city=json.loads(text_split[i])['城市']
        osys=json.loads(text_split[i])['os']
        cnt=json.loads(text_split[i])['cnt']
        sub_df=pd.DataFrame(data={'date':[day],'city':[city],'osys':[osys],'cnt':[cnt]})
        df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [18]:
def get_sensor_total(sql,start_date,end_date):
    df=pd.DataFrame(columns=['date','city','osys','cnt'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?{0}&format=format&project=production"\
                                   .format(request.urlencode({'q':sql.format(day,day)})),data='{"mode": "raw","raw": ""}',headers=header1)
        text_split=response.text.split('\n')
        for i in range (0,len(response.text.split('\n'))-1):
            day=json.loads(text_split[i])['date']
            city=json.loads(text_split[i])['城市']
            osys=json.loads(text_split[i])['os']
            cnt=json.loads(text_split[i])['cnt']
            sub_df=pd.DataFrame(data={'date':[day],'city':[city],'osys':[osys],'cnt':[cnt]})
            df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [19]:
def get_sensor_total2(sql,start_date,end_date):
    df=pd.DataFrame(columns=['date','city','osys','cnt'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?{0}&format=format&project=production"\
                                   .format(request.urlencode({'q':sql.format(day,day,day)})),data='{"mode": "raw","raw": ""}',headers=header1)
        text_split=response.text.split('\n')
        for i in range (0,len(response.text.split('\n'))-1):
            day=json.loads(text_split[i])['date']
            city=json.loads(text_split[i])['城市']
            osys=json.loads(text_split[i])['os']
            cnt=json.loads(text_split[i])['cnt']
            sub_df=pd.DataFrame(data={'date':[day],'city':[city],'osys':[osys],'cnt':[cnt]})
            df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [20]:
def get_sensor_new(sql,start_date,end_date):
    sql=sql.format(start_date,end_date)
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?{0}&format=format&project=production"\
                               .format(request.urlencode({'q':sql})),data='{"mode": "raw","raw": ""}',headers=header1)
    text_split=response.text.split('\n')
    df=pd.DataFrame(columns=['date','cnt'])
    for i in range (0,len(response.text.split('\n'))-1):
        day=json.loads(text_split[i])['date']
        cnt=json.loads(text_split[i])['cnt']
        sub_df=pd.DataFrame(data={'date':[day],'cnt':[cnt]})
        df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [21]:
def get_sensor_total_new(sql,start_date,end_date):
    df=pd.DataFrame(columns=['date','cnt'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?{0}&format=format&project=production"\
                                   .format(request.urlencode({'q':sql.format(day,day)})),data='{"mode": "raw","raw": ""}',headers=header1)
        text_split=response.text.split('\n')
        for i in range (0,len(response.text.split('\n'))-1):
            day=json.loads(text_split[i])['date']
            cnt=json.loads(text_split[i])['cnt']
            sub_df=pd.DataFrame(data={'date':[day],'cnt':[cnt]})
            df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [22]:
time_up='2019-6-14'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
df0=pd.DataFrame(columns=['date','city','osys','cnt'])
for day in pd.date_range(start=time_up,end=time_down):
    day=datetime.strftime(day.date(),'%Y-%m-%d')
    sub_df=pd.DataFrame(data={'date':[day]*6,'city':['上海','杭州','其他']*2,'osys':sorted(['Android','iOS']*3),'cnt':[0]*6})
    df0=pd.concat([df0,sub_df],ignore_index=True)
df0=df0.set_index(['date','city','osys'])
#当日页面浏览次数
sql1='''SELECT date, (CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(user_id) cnt FROM events 
where date BETWEEN '{}' and '{}' and event = '$AppViewScreen'
group by date,  CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os 
order by date,`城市` DESC,os'''
#当日启动次数
sql2='''SELECT date,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(user_id) cnt FROM events
WHERE event = '$AppStart'
AND date BETWEEN '{}' and '{}'
group by date, CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by date,`城市` DESC,os'''
#累计启动人数
sql3='''SELECT '{}' `date`,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(DISTINCT user_id) cnt FROM events
WHERE event = '$AppStart'
AND date<='{}'
group by CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by `城市` DESC,os'''
#当日启动人数
sql4='''SELECT date,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(DISTINCT user_id) cnt FROM events
WHERE event = '$AppStart'
AND date BETWEEN '{}' and '{}'
group by date, CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by date,`城市` DESC,os'''
#新用户启动人数
sql6='''SELECT date,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(DISTINCT user_id) cnt FROM events
WHERE event = '$AppStart'
AND date BETWEEN '{}' and '{}'
AND $is_first_day=1
group by date, CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by date,`城市` DESC,os'''
#最新版本安装数
sql7='''select '{}' `date`,(CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END) AS `城市`,$os os, count(DISTINCT user_id) cnt FROM events 
where event = '$AppStart' 
and date <='{}'and $app_version  like '2.6%'
group by CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END,$os
order by `城市` DESC,os'''
#累计签到数
sql8='''select '{}' `date`,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END AS `城市`,
CASE WHEN $screen_name='MGODegreeController' THEN 'iOS' ELSE 'Android' END AS os,
count(distinct user_id) cnt FROM events 
where event = '$AppViewScreen' and date <='{}'
and $screen_name in ('MGODegreeController','com.mgo.driver.ui.signin.SignInActivity')
group by CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END, CASE WHEN $screen_name='MGODegreeController' THEN 'iOS' ELSE 'Android' END
order by `城市` DESC,os'''
#当日签到数
sql9='''select date,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END AS `城市`,
CASE WHEN $screen_name='MGODegreeController' THEN 'iOS' ELSE 'Android' END AS os,
count(distinct user_id) cnt FROM events 
where event = '$AppViewScreen' 
AND date BETWEEN '{}' and '{}'
and $screen_name in ('MGODegreeController','com.mgo.driver.ui.signin.SignInActivity')
group by date,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END, CASE WHEN $screen_name='MGODegreeController' THEN 'iOS' ELSE 'Android' END
order by date,`城市` DESC,os'''
#当日crashed
sql10='''select date,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END AS `城市`,$os os,
count(distinct user_id) cnt FROM events 
where app_crashed_reason is not null 
AND date BETWEEN '{}' and '{}'
group by date,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END, $os
order by date,`城市` DESC,os'''
#周活
sql11='''select '{}' `date`,CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END AS `城市`,$os os,
count(distinct user_id) cnt FROM events 
where event = '$AppStart' 
AND date BETWEEN '{}' - INTERVAL '6'  day AND '{}'
group by CASE WHEN $city NOT IN ('上海','杭州') THEN '其他' ELSE $city END, $os
order by `城市` DESC,os'''
df1=get_sensor(sql1,time_up,time_down)
df2=get_sensor(sql2,time_up,time_down)
df3=get_sensor_total(sql3,time_up,time_down)
df4=get_sensor(sql4,time_up,time_down)
df6=get_sensor(sql6,time_up,time_down)
df7=get_sensor_total(sql7,time_up,time_down)
df8=get_sensor_total(sql8,time_up,time_down)
df9=get_sensor(sql9,time_up,time_down)
df10=get_sensor(sql10,time_up,time_down)
df11=get_sensor_total2(sql11,time_up,time_down)
for i in range(1,5):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index(['date','city','osys'])-df0).fillna(0)
for i in range(6,12):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index(['date','city','osys'])-df0).fillna(0)
df5=df4-df6
L=[]
for i in range (1,12):
    L.insert(i-1,vars()['df'+str(i)])
df=pd.concat(L,axis=1)
df=df.reset_index()
df.columns=['date','os','city','日页面浏览次数','日启动次数','累计启动人数','当日启动人数','老用户启动人数','新用户启动人数',
           '最新版本安装数','累计签到数','日签到数','日crashed','周活']

In [23]:
df

,date,os,city,日页面浏览次数,日启动次数,累计启动人数,当日启动人数,老用户启动人数,新用户启动人数,最新版本安装数,累计签到数,日签到数,日crashed,周活
0,2019-06-14,上海,Android,29067,3683,8394,822,786,36,3313,5492,319,0,1946
1,2019-06-14,上海,iOS,9633,2692,5584,689,675,14,0,3576,242,0,1313
2,2019-06-14,其他,Android,10020,1278,5439,346,302,44,2791,2686,150,0,1346
3,2019-06-14,其他,iOS,2661,817,3208,330,314,16,10,1618,107,0,923
4,2019-06-14,杭州,Android,23871,3016,5032,816,668,148,4086,2677,320,1,2573
5,2019-06-14,杭州,iOS,6571,1781,2733,594,532,62,15,1503,195,0,1315
6,2019-06-15,上海,Android,22147,2936,8427,744,721,23,3368,5510,286,1,1951
7,2019-06-15,上海,iOS,7119,2110,5600,643,632,11,0,3587,213,0,1323
8,2019-06-15,其他,Android,9561,1169,5544,381,337,44,2899,2747,178,1,1375
9,2019-06-15,其他,iOS,2955,829,3265,339,312,27,10,1651,125,0,924
10,2019-06-15,杭州,Android,20582,2585,5161,788,679,109,4217,2739,322,1,2588
11,2019-06-15,杭州,iOS,5111,1568,2783,550,506,44,15,1541,181,0,1320
12,2019-06-16,上海,Android,21137,2785,8487,739,693,46,3432,5532,270,1,1974
13,2019-06-16,上海,iOS,7193,2044,5633,637,607,30,0,3604,229,0,1342
14,2019-06-16,其他,Android,7471,957,5629,322,285,37,2989,2790,139,0,1398
15,2019-06-16,其他,iOS,2356,733,3312,328,309,19,10,1674,107,0,910
16,2019-06-16,杭州,Android,19788,2562,5300,782,659,123,4358,2822,352,0,2661
17,2019-06-16,杭州,iOS,4740,1396,2834,526,481,45,15,1582,173,0,1325
18,2019-06-17,上海,Android,19125,2570,8520,719,694,25,3476,5549,248,0,1970
19,2019-06-17,上海,iOS,7947,2306,5659,671,653,18,0,3617,226,0,1334
20,2019-06-17,其他,Android,8241,985,5705,352,327,25,3071,2830,165,0,1383
21,2019-06-17,其他,iOS,2653,853,3360,346,330,16,10,1700,133,0,931
22,2019-06-17,杭州,Android,16167,2109,5371,694,630,64,4433,2875,304,0,2633
23,2019-06-17,杭州,iOS,4437,1400,2876,528,493,35,15,1604,177,0,1323
24,2019-06-18,上海,Android,17818,2443,8543,684,668,16,3508,5561,257,0,1956
25,2019-06-18,上海,iOS,7301,2190,5684,653,639,14,0,3631,223,0,1337
26,2019-06-18,其他,Android,7120,893,5773,340,319,21,3142,2863,155,1,1392
27,2019-06-18,其他,iOS,2242,824,3401,357,347,10,10,1724,126,0,945
28,2019-06-18,杭州,Android,17846,2348,5454,742,670,72,4517,2920,305,1,2703
29,2019-06-18,杭州,iOS,4317,1449,2916,528,494,34,15,1624,153,0,1338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2019-08-25,上海,Android,6213,818,9371,310,307,3,4666,5994,133,0,997
433,2019-08-25,上海,iOS,2148,566,6203,241,240,1,1787,3937,120,5,695
434,2019-08-25,其他,Android,5935,753,9526,304,294,10,7012,4454,161,0,1216
435,2019-08-25,其他,iOS,1324,369,5338,208,206,2,2690,2748,132,6,751
436,2019-08-25,杭州,Android,16318,2072,9998,814,783,31,9122,5427,328,0,3014
437,2019-08-25,杭州,iOS,3775,954,4858,399,387,12,3047,2858,204,8,1309
438,2019-08-26,上海,Android,7114,936,9374,349,347,2,4670,5994,142,0,988
439,2019-08-26,上海,iOS,2841,740,6206,276,275,1,1793,3940,143,6,680
440,2019-08-26,其他,Android,5883,753,9567,306,290,16,7054,4470,169,0,1214
441,2019-08-26,其他,iOS,1522,405,5350,231,227,4,2701,2757,153,7,735
442,2019-08-26,杭州,Android,16038,2013,10049,792,746,46,9174,5461,304,0,3030
443,2019-08-26,杭州,iOS,4105,999,4877,416,399,17,3069,2873,194,9,1308
444,2019-08-27,上海,Android,6813,908,9384,352,346,6,4681,5998,152,0,996
445,2019-08-27,上海,iOS,2338,627,6210,284,283,1,1798,3944,132,6,686
446,2019-08-27,其他,Android,5715,689,9606,298,283,15,7091,4486,167,0,1191
447,2019-08-27,其他,iOS,1483,393,5366,240,234,6,2720,2772,152,4,724
448,2019-08-27,杭州,Android,16913,2146,10112,817,767,50,9235,5507,329,0,3085
449,2019-08-27,杭州,iOS,4035,1059,4901,441,420,21,3095,2889,211,9,1332
450,2019-08-28,上海,Android,7286,991,9390,372,368,4,4691,6001,146,0,992
451,2019-08-28,上海,iOS,2472,654,6212,275,274,1,1803,3946,132,4,678
452,2019-08-28,其他,Android,6195,770,9638,301,288,13,7122,4500,175,0,1175
453,2019-08-28,其他,iOS,1444,408,5391,247,240,7,2751,2782,135,7,739
454,2019-08-28,杭州,Android,17704,2212,10151,849,814,35,9273,5544,353,0,3077
455,2019-08-28,杭州,iOS,3644,932,4918,403,387,16,3115,2908,213,3,1317
456,2019-08-29,上海,Android,6517,893,9397,325,319,6,4700,6004,144,0,984
457,2019-08-29,上海,iOS,2368,633,6215,272,272,0,1811,3946,133,3,676
458,2019-08-29,其他,Android,6077,831,9698,321,282,39,7186,4519,171,0,1189
459,2019-08-29,其他,iOS,1265,347,5402,214,211,3,2767,2789,132,4,728
460,2019-08-29,杭州,Android,16346,2115,10200,777,736,41,9323,5568,322,0,3102
461,2019-08-29,杭州,iOS,3799,964,4931,417,406,11,3135,2916,203,3,1328

In [24]:
df.to_excel('database_app.xlsx')

## 钉钉群app表

In [25]:
#计算累计数据方法1(sql查询条件涉及1个日期)
def accum_total(sql,start_date,end_date):
    df=pd.DataFrame(columns=['date','cnt'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    return df

In [26]:
time_up='2019-7-26'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'date'},inplace=True)
dim_ss['date']=dim_ss.date.apply(lambda x:datetime.strftime(x.date(),'%Y-%m-%d'))
dim_ss=dim_ss.set_index('date')
dim_ss=dim_ss[0]
#累计安装用户数(ios)
sql1='''SELECT '{}' `date`,count(distinct user_id) cnt FROM events where event = '$AppStart'and date <= '{}'
AND $os='iOS' '''
df1=get_sensor_total_new(sql1,time_up,time_down)
#新增安装用户数(ios)
sql2='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $os='iOS' AND $is_first_day=1 
AND date BETWEEN '{}' AND '{}'
GROUP BY date'''
df2=get_sensor_new(sql2,time_up,time_down)
#累计安装用户数(android)
sql3='''SELECT '{}' `date`,count(distinct user_id) cnt FROM events where event = '$AppStart'and date <= '{}'
AND $os='Android' '''
df3=get_sensor_total_new(sql3,time_up,time_down)
#新增安装用户数(ios)
sql4='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $os='Android' AND $is_first_day=1 
AND date BETWEEN '{}' AND '{}'
GROUP BY date'''
df4=get_sensor_new(sql4,time_up,time_down)
#累计安装
#df5=df1+df3
#新增安装
#df6=df2+df4
#最新版本累计安装
sql7='''SELECT '{}' `date`,count(distinct user_id) cnt FROM events 
where event = '$AppStart'and date <= '{}'and $app_version  like '2.6%' '''
df7=get_sensor_total_new(sql7,time_up,time_down)
#累计注册用户数
sql8='''SELECT '{}' `date`,count(1) cnt FROM mgo_driver_third where date(add_time)<='{}' and type = 6 '''
df8=accum_total(sql8,time_up,time_down)
#新增注册用户数
sql9='''SELECT date(add_time) `date`,count(1) cnt FROM mgo_driver_third 
WHERE  DATE(add_time) BETWEEN '{}' AND '{}' and type = 6 
GROUP BY date(add_time)'''
df9=reader(sql9.format(time_up,time_down))
df9['date']=df9.date.apply(lambda x:datetime.strftime(x,'%Y-%m-%d'))
#日活版本系统(iOS其他)
sql10='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $app_version  NOT LIKE '2.6%' AND $os='iOS' 
AND date BETWEEN '{}' AND '{}'
group by date '''
df10=get_sensor_new(sql10,time_up,time_down)
#日活版本系统(iOS最新)
sql11='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $app_version  LIKE '2.6%' AND $os='iOS'
AND date BETWEEN '{}' AND '{}'
group by date '''
df11=get_sensor_new(sql11,time_up,time_down)
#日活系统(iOS)
df12=df10+df11
#日活版本系统(android其他)
sql13='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $app_version  NOT LIKE '2.6%' AND $os='Android' 
AND date BETWEEN '{}' AND '{}'
group by date '''
df13=get_sensor_new(sql13,time_up,time_down)
#日活版本系统(android最新)
sql14='''SELECT date,count(distinct user_id) cnt FROM events where event = '$AppStart'
AND $app_version  LIKE '2.6%' AND $os='Android' 
AND date BETWEEN '{}' AND '{}'
group by date '''
df14=get_sensor_new(sql14,time_up,time_down)
#日活系统(android)
#df15=df13+df14
#日活版本(其他版本)
#df16=df10+df13
#日活版本(最新版本)
#df17=df11+df14
#日活(所有版本)
#df18=df16+df17
#城市日活(上海人数)
sql19='''SELECT date,count(distinct user_id) cnt FROM events 
where event = '$AppStart' and $city='上海'
AND date BETWEEN '{}' AND '{}'
group by date'''
df19=get_sensor_new(sql19,time_up,time_down)
#上海占比
#df20=df19/df18
#城市日活(杭州人数)
sql21='''SELECT date,count(distinct user_id) cnt FROM events 
where event = '$AppStart' and $city='杭州'
AND date BETWEEN '{}' AND '{}'
group by date'''
df21=get_sensor_new(sql21,time_up,time_down)
#杭州占比
#df22=df21/df18
#城市日活(其他城市人数)
sql23='''SELECT date,count(distinct user_id) cnt FROM events 
where event = '$AppStart' and $city NOT IN ('杭州','上海')
AND date BETWEEN '{}' AND '{}'
group by date'''
df23=get_sensor_new(sql23,time_up,time_down)
#其他城市占比
#df24=df23/df18
#总日活数
#df25=df18
#签到数(iOS)
sql26='''SELECT date,count(distinct user_id) cnt FROM events 
where event = '$AppViewScreen' 
AND date BETWEEN '{}' AND '{}'
and $screen_name='MGODegreeController'
group by date'''
df26=get_sensor_new(sql26,time_up,time_down)
#签到率(iOS)
#df27=df26/df12
#签到数(android)
sql28='''SELECT date,count(distinct user_id) cnt FROM events 
where event = '$AppViewScreen' 
AND date BETWEEN '{}' AND '{}'
and $screen_name='com.mgo.driver.ui.signin.SignInActivity'
group by date'''
df28=get_sensor_new(sql28,time_up,time_down)
#签到率(iOS)
#df29=df28/df15
#签到数(合计)
#df30=df26+df28
#签到率(合计)
#df31=df30/df25
#crash数
sql32='''SELECT date,count(distinct user_id) cnt FROM events 
where app_crashed_reason is not null
AND date BETWEEN '{}' AND '{}'
group by date '''
df32=get_sensor_new(sql32,time_up,time_down)
for i in range (1,5):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index('date').cnt-dim_ss).fillna(0)
#累计安装
df5=df1+df3
#新增安装
df6=df2+df4
for i in range (7,12):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index('date').cnt-dim_ss).fillna(0)
#日活系统(iOS)
df12=df10+df11
for i in range (13,15):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index('date').cnt-dim_ss).fillna(0)
#日活系统(android)
df15=df13+df14
#日活版本(其他版本)
df16=df10+df13
#日活版本(最新版本)
df17=df11+df14
#日活(所有版本)
df18=df16+df17
for i in range(19,24,2):
    vars()['df'+str(i)]=(vars()['df'+str(i)].set_index('date').cnt-dim_ss).fillna(0)
#上海占比
df20=df19/df18
#杭州占比
df22=df21/df18
#其他城市占比
df24=df23/df18
#总日活数
df25=df18
df26=(df26.set_index('date').cnt-dim_ss).fillna(0)
#签到率(iOS)
df27=df26/df12
df28=(df28.set_index('date').cnt-dim_ss).fillna(0)
#签到率(iOS)
df29=df28/df15
#签到数(合计)
df30=df26+df28
#签到率(合计)
df31=df30/df25
df32=(df32.set_index('date').cnt-dim_ss).fillna(0)
L=[]
for i in range (1,33):
    L.insert(i-1,vars()['df'+str(i)])
df=pd.concat(L,axis=1)

In [27]:
df.to_excel('app.xlsx')

In [36]:
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
date,,,,,,,,,,,,,,,,,,,,,
2019-04-19,4660,49,7295,78,11955,127,4381,11608,150,27,...,191,0.120201,1589,312,0.474164,468,0.502685,780,0.490875,12
2019-04-20,4701,25,7345,42,12046,67,4499,11685,77,26,...,167,0.134244,1244,269,0.493578,379,0.542203,648,0.520900,2
2019-04-21,4735,31,7385,38,12120,69,4597,11751,66,28,...,157,0.125299,1253,299,0.544627,416,0.590909,715,0.570630,1
2019-04-22,4787,31,7430,38,12217,69,4703,11836,85,21,...,162,0.120805,1341,303,0.513559,403,0.536618,706,0.526473,0
2019-04-23,4835,31,7488,49,12323,80,4832,11935,99,19,...,179,0.131040,1366,306,0.525773,405,0.516582,711,0.520498,3

In [31]:
for i in range(19,24,2):
    print(i)

19
21
23

In [194]:
sql7='''SELECT '2019-4-18' `date`,count(distinct user_id) cnt FROM events 
where event = '$AppStart'and date <= '2019-4-18'and $app_version  like '2.4%' '''

In [198]:
response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                                   .format(sql7),data='{"mode": "raw","raw": ""}',headers=header1)

In [199]:
response.text

'{"error":"Lexical error at line 2, column 79.  Encountered: \\u003cEOF\\u003e after : \\"\\\\\\u00272.4\\\\ufffd20\\""}'