In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta

In [2]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [3]:
(datetime.now().date()-timedelta(days=1)).strftime("%Y-%m-%d")

'2018-11-28'

In [4]:
time_up='2018-11-22'
time_down=(datetime.today().date()-timedelta(days=1)).strftime("%Y-%m-%d")
df=pd.DataFrame(columns=['日期','人数'])
for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
    day=day.date()
    sql='''select '%s' 日期,COUNT(a.driver_id) 人数 from (select driver_id,count(id) num  from mgo_driver_sign 
    WHERE DATE(add_time) BETWEEN '%s' AND '%s'  
    group by `driver_id` having num>=3) a '''%(day,day-timedelta(days=2),day)
    sub_df=reader(sql)
    df=pd.concat([df,sub_df],ignore_index=True)

In [5]:
df

           日期   人数
0  2018-11-22  242
1  2018-11-23  238
2  2018-11-24  235
3  2018-11-25  237
4  2018-11-26  232
5  2018-11-27  238
6  2018-11-28  240

In [6]:
time_up='2018-11-08'
time_down=datetime.now().date()-timedelta(days=1)
df=pd.DataFrame(columns=['日期','人数'])
for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
    day=day.date()
    sql='''select '%s' 日期,COUNT(a.driver_id) 人数 from (select driver_id,count(id) num  from mgo_driver_sign 
    WHERE DATE(add_time) BETWEEN '%s' AND '%s'  
    and driver_id not in (select driver_id from mgo_driver_bonus where bonus_type ='18101301' AND DATE(add_time)<='%s')
    group by `driver_id` having num>=3) a '''%(day,day-timedelta(days=2),day,day)
    sub_df=reader(sql)
    df=pd.concat([df,sub_df],ignore_index=True)

In [7]:
df

            日期  人数
0   2018-11-08  20
1   2018-11-09  29
2   2018-11-10  26
3   2018-11-11  29
4   2018-11-12  28
5   2018-11-13  31
6   2018-11-14  35
7   2018-11-15  38
8   2018-11-16  34
9   2018-11-17  36
10  2018-11-18  32
11  2018-11-19  35
12  2018-11-20  35
13  2018-11-21  42
14  2018-11-22  38
15  2018-11-23  39
16  2018-11-24  40
17  2018-11-25  43
18  2018-11-26  41
19  2018-11-27  40
20  2018-11-28  43

In [8]:
datetime.today().date()-timedelta(days=1)

datetime.date(2018, 11, 28)

In [9]:
for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
    print(type(day))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>