In [1]:
from sqlalchemy import create_engine
from pyhive import hive
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
import pandas as pd
import numpy as np
import sys
import os
import requests
import json
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.header import Header

In [2]:
#conn = hive.Connection(host='118.25.126.141', port=10000, username='admin', database='default',auth="NOSASL")

In [3]:
#建立数据库连接
engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@rr-2ze2k9sn688w5h3z51o.mysql.rds.aliyuncs.com:3306/{0}?charset=utf8".format('mgo'))
def reader(query):
    sql=query
    df=pd.read_sql(sql,engine)
    return df

In [4]:
#token获取
header2={"Content-Type":"application/json"}
data1={"username":"admin","password":"17fuwc"}
response0=requests.post(url="https://data.mobilemart.cn/api/auth/login?project=production",
     data=json.dumps(data1),headers=header2)

In [5]:
#测试token是否可用
header1={"Content-Type": "application/json", "sensorsdata-token": 
         json.loads(response0.text)['token']}
response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q=SELECT COUNT(distinct_id) FROM events \
WHERE  event='$AppStart' AND date='2018-12-14'&format=format&project=production",
    headers=header1)

In [6]:
#神策日活区分司机城市归属方法
sql01='''SELECT driver_id FROM mgo_driver_info 
WHERE (distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))'''
df01=reader(sql01)
df01['driver_id']=df01.driver_id.astype(str)
def get_cityinfo_sensor(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql_new=sql.format(day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df01.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df
def get_cityinfo_sensor1(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql_new=sql.format(day,day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df01.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df
def get_cityinfo_sensor2(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql_new=sql.format(day,day,day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df01.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [7]:
#神策司机匹配mgo加油司机
def get_orderinfo_sensor1(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql02='''SELECT driver_id FROM mgo_order
        WHERE tag=7 AND status=1
        AND driver_id NOT IN (30141,125607,125585)
        AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
        AND DATE(add_time)='{}' '''.format(day)
        df02=reader(sql02)
        df02['driver_id']=df02.driver_id.astype(str)
        sql_new=sql.format(day,day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df02.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df
def get_orderinfo_sensor2(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql02='''SELECT driver_id FROM mgo_order
        WHERE tag=7 AND status=1
        AND driver_id NOT IN (30141,125607,125585)
        AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
        AND DATE(add_time)='{}' '''.format(day)
        df02=reader(sql02)
        df02['driver_id']=df02.driver_id.astype(str)
        sql_new=sql.format(day,day,day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df02.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [8]:
#神策日活区分司机是否认证方法
def get_authinfo_sensor(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sql1='''SELECT driver_id FROM mgo_driver_attestation_record 
        WHERE check_status=1
        AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
        AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
        AND driver_id NOT IN (30141,125607,125585)
        AND DATE(check_time)<='{}' '''.format(day)
        df1=reader(sql1)
        df1['driver_id']=df1.driver_id.astype(str)
        sql_new=sql.format(day)
        #从神策API返回数据
        response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                               .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
        L=[]
        for i in range (0,len(response.text.split('\n'))-1):
            L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
        ss=pd.Series(data=L)
        num=ss[ss.isin(df1.driver_id)].count()
        sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
        df=pd.concat([df,sub_df],ignore_index=True)
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [9]:
#计算累计数据方法1(sql查询条件涉及1个日期)
def accum_total(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [10]:
#计算累计数据方法2(sql查询条件涉及2个日期)
def accum_total2(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,day,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [11]:
#计算累计数据方法3(sql查询条件涉及3个日期)
def accum_total3(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,day,day,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [12]:
#计算累计数据方法4(sql查询条件涉及3个日期)
def accum_total4(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,day,day,day,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [13]:
#计算累计数据方法4(sql查询条件涉及月初和月末)
def accum_total_month(sql,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        first_day=day.strftime('%Y-%m-01')
        last_day=day.strftime('%Y-%m-31')
        sub_df=reader(sql.format(day,day,day,first_day,last_day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [14]:
#datetime(2019,3,5).date()+timedelta(days=1)

## 汇总表

In [15]:
##### 业务汇总数据表
time_up=(datetime.today() - timedelta(days=15)).strftime("%Y-%m-%d")
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'日期'},inplace=True)
dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
dim_ss=dim_ss.set_index('日期')
dim_ss=dim_ss[0]
first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
#订单数
sql1='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#GMV
sql2='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#支付人数
sql3='''SELECT DATE(a.add_time) 日期,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#订单单价
sql4='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount)/COUNT(a.order_sn)/100 num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#开单油站数
sql5='''SELECT DATE(a.add_time) 日期,COUNT(DISTINCT a.station_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#3天内回购人数
sql6='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_order
WHERE tag=7 AND status=1
AND DATE(add_time) BETWEEN ('{}'+INTERVAL 1 DAY) AND ('{}'+INTERVAL 3 DAY)
AND driver_id IN (SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 
AND DATE(add_time)='{}')'''
df6=accum_total3(sql6,time_up,time_down)
#订单量分布
##复购
sql11='''SELECT '{}' 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time)='{}'
AND b.app_user_id IN (SELECT b.app_user_id FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn WHERE b.status=1 AND DATE(a.add_time)<'{}') '''
df11=accum_total2(sql11,time_up,time_down)
##用券
sql12='''SELECT DATE(a.add_time) 日期,COUNT(1) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND b.discount_amount>0
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##用新用户券
sql13='''SELECT DATE(c.add_time) 日期,
SUM(CASE WHEN b.id IN (38,81,85,125,73,82,86,90,126,47,48,53,64) 
OR a.batch=20190828001 THEN 1 ELSE 0 END) num
FROM mgo_coupon a
LEFT JOIN mgo_coupon_info b ON a.batch=b.`code`
JOIN (SELECT * FROM mgo_order WHERE status=1 AND tag=7 
AND DATE(add_time) BETWEEN '{}' AND '{}'
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))) c 
ON a.coupon_seq=c.coupon_seq
GROUP BY DATE(c.add_time)'''.format(time_up,time_down)
##用策略券
sql14='''SELECT DATE(c.add_time) 日期,
SUM(CASE WHEN b.id IN (50,55,58,65,49,54,66,51,56,67,52,57,72,71) 
OR a.batch IN (20190828002,20190828003,20190828005,20190828004,20190828006) THEN 1 ELSE 0 END) num
FROM mgo_coupon a
LEFT JOIN mgo_coupon_info b ON a.batch=b.`code`
JOIN (SELECT * FROM mgo_order WHERE status=1 AND tag=7 
AND DATE(add_time) BETWEEN '{}' AND '{}'
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))) c 
ON a.coupon_seq=c.coupon_seq
GROUP BY DATE(c.add_time)'''.format(time_up,time_down)
#分城市订单数据
##上海
sql15='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_gas_station c ON a.station_id=c.station_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.city_code='上海市区'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##金华
sql16='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_gas_station c ON a.station_id=c.station_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.city_code='金华市'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##绍兴
sql17='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_gas_station c ON a.station_id=c.station_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.city_code='绍兴市'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#分小桔租赁公司订单数据
##租赁公司
sql18='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.leasing_company_sn!=''
AND DATE(a.add_time)BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##小桔司机
sql19='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.leasing_company_sn=''
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##核心司机订单数
sql20='''SELECT '{}' 日期,COUNT(1) num FROM mgo_order 
WHERE tag=7 AND status=1
AND DATE(add_time)='{}'
AND driver_id IN 
(SELECT b.driver_id
FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND DATE(b.add_time)<'{}'
AND b.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
GROUP BY b.driver_id
HAVING DATE(MAX(b.add_time))>='{}'+INTERVAL -7 DAY
AND COUNT(DISTINCT DATE(b.add_time))>=3)'''
df20=accum_total3(sql20,time_up,time_down)
#GMV(机显)
sql21='''SELECT DATE(a.add_time) 日期,SUM(a.original_price*a.oil_num/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#GMV(用券前)
sql22='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#GMV(用券后)
sql23='''SELECT DATE(a.add_time) 日期,SUM(b.pay_amount/100 ) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#找油网结算成本
sql24='''SELECT DATE(a.add_time) 日期,SUM(a.settlement_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#签到抽奖奖励
sql25='''SELECT DATE(add_time) 日期,SUM(bonus) num FROM mgo_driver_bonus
WHERE bonus_type IN (18121401,19040705,1809211111)
AND pay_status=1
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#司推司奖励
sql26='''SELECT DATE(add_time) 日期,SUM(bonus) num FROM mgo_driver_bonus
WHERE bonus_type IN (18128888,180522001)
AND pay_status=1
#AND driver_id NOT IN (SELECT driver_id FROM mgo_driver_use_label WHERE label_name='司管')
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#日新增首单
sql31='''SELECT '{}' 日期, COUNT(DISTINCT driver_id) num FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)='{}'
AND driver_id NOT IN (SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)<'{}')
'''
df31=accum_total2(sql31,time_up,time_down)
#本月安装司机首单人数
sql32='''SELECT '{}' 日期, COUNT(DISTINCT driver_id) num FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)='{}'
AND driver_id NOT IN (SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)<'{}')
AND driver_id IN (SELECT driver_id FROM mgo_driver_app GROUP BY driver_id HAVING DATE(MIN(add_time)) BETWEEN '{}' AND '{}')
'''
df32=accum_total_month(sql32,time_up,time_down)
#非本月安装司机首单人数
sql33='''SELECT '{}' 日期, COUNT(DISTINCT driver_id) num FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)='{}'
AND driver_id NOT IN (SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time)<'{}')
AND driver_id NOT IN (SELECT driver_id FROM mgo_driver_app GROUP BY driver_id HAVING DATE(MIN(add_time)) BETWEEN '{}' AND '{}')
'''
df33=accum_total_month(sql33,time_up,time_down)
#首单司机3日留存
sql34='''SELECT first_day 日期,
SUM(CASE WHEN 加油天数>=1 THEN 1 ELSE 0 END) num
FROM 
(SELECT a.driver_id,a.first_day,COUNT(a.driver_id)-1 加油天数 FROM
(SELECT driver_id,DATE(MIN(add_time)) first_day FROM mgo_order WHERE tag=7 AND status=1
GROUP BY driver_id) a
LEFT JOIN 
(SELECT driver_id,DATE(add_time) order_day FROM mgo_order WHERE tag=7 AND status=1
GROUP BY driver_id,DATE(add_time)) b
ON a.driver_id=b.driver_id AND DATEDIFF(b.order_day,a.first_day)<=3
GROUP BY a.driver_id) A
WHERE first_day BETWEEN '{}' AND '{}'
GROUP BY first_day'''.format(time_up,time_down)
#首单司机7日留存
sql35='''SELECT first_day 日期,
SUM(CASE WHEN 加油天数>=1 THEN 1 ELSE 0 END) num
FROM 
(SELECT a.driver_id,a.first_day,COUNT(a.driver_id)-1 加油天数 FROM
(SELECT driver_id,DATE(MIN(add_time)) first_day FROM mgo_order WHERE tag=7 AND status=1
GROUP BY driver_id) a
LEFT JOIN 
(SELECT driver_id,DATE(add_time) order_day FROM mgo_order WHERE tag=7 AND status=1
GROUP BY driver_id,DATE(add_time)) b
ON a.driver_id=b.driver_id AND DATEDIFF(b.order_day,a.first_day)<=7
GROUP BY a.driver_id) A
WHERE first_day BETWEEN '{}' AND '{}'
GROUP BY first_day'''.format(time_up,time_down)
#司推司授权数
sql41='''SELECT DATE(add_time) 日期,COUNT(1) num
FROM mgo_driver_recommend_authorize
WHERE tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND resource_user_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND resource_user_id NOT IN (SELECT driver_id FROM mgo_driver_use_label WHERE label_name='司管')
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#司推司注册司机数
sql42='''SELECT DATE(add_time) 日期,SUM(CASE WHEN status IN (1,3) THEN 1 ELSE 0 END) num
FROM mgo_driver_recommend_authorize
WHERE tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND resource_user_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND resource_user_id NOT IN (SELECT driver_id FROM mgo_driver_use_label WHERE label_name='司管')
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#司推司首单司机数
sql43='''SELECT DATE(add_time) 日期,
SUM(CASE WHEN status=3 THEN 1 ELSE 0 END) num FROM mgo_driver_recommend_authorize
WHERE tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND resource_user_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND resource_user_id NOT IN (SELECT driver_id FROM mgo_driver_use_label WHERE label_name='司管')
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#司推司推荐人数
sql44='''SELECT DATE(add_time) 日期,COUNT(DISTINCT resource_user_id) num
FROM mgo_driver_recommend_authorize
WHERE tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND resource_user_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND resource_user_id NOT IN (SELECT driver_id FROM mgo_driver_use_label WHERE label_name='司管')
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
#新增未认证司机安装量(目前仅计算上海)
sql45='''SELECT active_date 日期,COUNT(driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date BETWEEN '{}' AND '{}'
GROUP BY active_date'''.format(time_up,time_down)
#新增认证审核(目前仅计算上海)
sql46='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_driver_attestation_record 
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND operation_user!='系统添加'
AND DATE(add_time)='{}'
AND driver_id IN 
(SELECT driver_id FROM mgo_driver_app
GROUP BY driver_id HAVING MIN(DATE(add_time))='{}')'''
df46=accum_total2(sql46,time_up,time_down)
#新增已认证(目前仅计算上海)
sql47='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_driver_attestation_record 
WHERE check_status=1
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND operation_user!='系统添加'
AND DATE(check_time)='{}'
AND driver_id IN 
(SELECT driver_id FROM mgo_driver_app
GROUP BY driver_id HAVING MIN(DATE(add_time))='{}')'''
df47=accum_total2(sql47,time_up,time_down)
#当日加油人数
sql48='''SELECT '{}' 日期,COUNT(driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
AND driver_id IN (SELECT driver_id FROM mgo_order WHERE status=1 AND tag=7 AND DATE(add_time)='{}')'''
df48=accum_total2(sql48,time_up,time_down)
#7日加油人数
sql49='''SELECT '{}' 日期,COUNT(driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
AND driver_id IN (SELECT driver_id FROM mgo_order WHERE status=1 AND tag=7 AND DATE(add_time)<=('{}'+INTERVAL 7 DAY))'''
df49=accum_total2(sql49,time_up,time_down)
#累计注册量(from_unixtime使用date就不用ymd格式化)
sql51='''SELECT '{}' 日期,COUNT(1) num FROM mgo_driver_third
WHERE driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND type=6
AND driver_id NOT IN (30141,125607,125585)
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND DATE(add_time)<='{}' '''
df51=accum_total(sql51,time_up,time_down)
#累计安装量(目前仅计算上海) 新版本有登陆记录才算安装
sql52='''SELECT '{}' 日期,COUNT(driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND active_date<='{}' '''
df52=accum_total(sql52,time_up,time_down)
#累计认证司机数
sql53='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_driver_attestation_record 
WHERE check_status=1
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%' OR distric_sn LIKE '3306%%' OR distric_sn LIKE '3307%%')
AND driver_id NOT IN (30141,125607,125585)
AND DATE(check_time)<='{}' '''
df53=accum_total(sql53,time_up,time_down)
#完成首次加油人数
sql54='''SELECT '{}' 日期,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time)<='{}' '''
df54=accum_total(sql54,time_up,time_down)
#加油流失人数
sql55='''SELECT '{}' 日期,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(b.add_time)<'{}'+INTERVAL -13 DAY
AND b.driver_id NOT IN 
(SELECT driver_id FROM mgo_order
WHERE tag=7 AND status=1
AND DATE(add_time) BETWEEN '{}'+INTERVAL -13 DAY AND '{}') '''
df55=accum_total3(sql55,time_up,time_down)
#加油流失司机占比
df56=df55/df54
#加油累计核心司机数
sql57='''SELECT '{}' 日期,COUNT(1) num FROM 
(SELECT b.driver_id,
COUNT(DISTINCT DATE(b.add_time)) 加油天数
FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND DATE(b.add_time)<='{}'
AND b.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
GROUP BY b.driver_id
HAVING 加油天数>=3) A'''
df57=accum_total(sql57,time_up,time_down)
#加油当前核心司机数
sql58='''SELECT '{}' 日期,COUNT(1) num FROM 
(SELECT b.driver_id,DATE(MAX(b.add_time)) 最后加油时间,
COUNT(DISTINCT DATE(b.add_time)) 加油天数
FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND DATE(b.add_time)<='{}'
AND b.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
GROUP BY b.driver_id
HAVING 最后加油时间>='{}'+INTERVAL -6 DAY
AND 加油天数>=3) A'''
df58=accum_total2(sql58,time_up,time_down)
#加油新增核心司机数
sql59='''SELECT '{}' 日期,COUNT(1) num FROM 
(SELECT b.driver_id,DATE(MAX(b.add_time)) 最后加油时间,
COUNT(DISTINCT DATE(b.add_time)) 加油天数
FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND DATE(b.add_time)<='{}'
AND b.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
GROUP BY b.driver_id
HAVING 加油天数=3
AND 最后加油时间='{}') A'''
df59=accum_total2(sql59,time_up,time_down)
#加油复苏核心司机数
sql60='''SELECT '{}' 日期,COUNT(1) num FROM 
(SELECT b.driver_id,DATE(MAX(b.add_time)) 最后加油时间,
COUNT(DISTINCT DATE(b.add_time)) 加油天数
FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND DATE(b.add_time)<='{}'
AND b.user_tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND b.driver_id NOT IN 
(SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 
AND DATE(add_time) BETWEEN '{}'+INTERVAL -7 DAY AND '{}'+INTERVAL -1 DAY)
GROUP BY b.driver_id
HAVING 加油天数>3
AND 最后加油时间='{}') A'''
df60=accum_total4(sql60,time_up,time_down)
#APP有效用户数(近14日活跃)
sql61='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppStart' 
AND date BETWEEN '{}'-INTERVAL '14' DAY AND '{}'-INTERVAL '1' DAY '''
df61=get_cityinfo_sensor1(sql61,time_up,time_down)
#APP日活(城市)
sql62='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppStart' 
AND date='{}' '''
df62=get_cityinfo_sensor(sql62,time_up,time_down)
#APP日活(城市+认证)
sql63='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppStart' 
AND date='{}' '''
df63=get_authinfo_sensor(sql63,time_up,time_down)
#APP复活司机(7日未登陆)
sql64='''SELECT DISTINCT distinct_id FROM events WHERE event='$AppStart' 
AND date='{}'
AND distinct_id NOT IN 
(SELECT distinct_id FROM events WHERE event='$AppStart' 
AND date BETWEEN '{}'-INTERVAL '7' DAY AND '{}'-INTERVAL '1' DAY)
AND $is_first_day=0'''
df64=get_cityinfo_sensor2(sql64,time_up,time_down)
#APP复活司机(14日未登陆)
sql65='''SELECT DISTINCT distinct_id FROM events WHERE event='$AppStart' 
AND date='{}'
AND distinct_id NOT IN 
(SELECT distinct_id FROM events WHERE event='$AppStart' 
AND date BETWEEN '{}'-INTERVAL '14' DAY AND '{}'-INTERVAL '1' DAY)
AND $is_first_day=0'''
df65=get_cityinfo_sensor2(sql65,time_up,time_down)
#APP复活司机加油人数(7日未登陆)
sql66='''SELECT DISTINCT distinct_id FROM events WHERE event='$AppStart' 
AND date='{}'
AND distinct_id NOT IN 
(SELECT distinct_id FROM events WHERE event='$AppStart' 
AND date BETWEEN '{}'-INTERVAL '7' DAY AND '{}'-INTERVAL '1' DAY)
AND $is_first_day=0'''
df66=get_orderinfo_sensor2(sql66,time_up,time_down)
#APP复活司机(14日未登陆)
sql67='''SELECT DISTINCT distinct_id FROM events WHERE event='$AppStart' 
AND date='{}'
AND distinct_id NOT IN 
(SELECT distinct_id FROM events WHERE event='$AppStart' 
AND date BETWEEN '{}'-INTERVAL '14' DAY AND '{}'-INTERVAL '1' DAY)
AND $is_first_day=0'''
df67=get_orderinfo_sensor2(sql67,time_up,time_down)
#直接取数sql批量处理
for i in range (1,6):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
for i in range (12,20):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
for i in range (21,27):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
for i in range (34,36):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
for i in range (41,46):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
#生成df拼接列表
L=[]
for i in range (1,7):
    L.insert(i-1,vars()['df'+str(i)])
for i in range (11,21):
    L.insert(i-5,vars()['df'+str(i)])
for i in range (21,27):
    L.insert(i-5,vars()['df'+str(i)])
for i in range (31,36):
    L.insert(i-9,vars()['df'+str(i)])
for i in range (41,50):
    L.insert(i-14,vars()['df'+str(i)])
for i in range (51,61):
    L.insert(i-15,vars()['df'+str(i)])
for i in range (61,68):
    L.insert(i-15,vars()['df'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['订单数','GMV','支付人数','订单单价','出单油站数','3日内回购','复购','用券','新用户券','促活券','上海','金华','绍兴','租赁公司','小桔','核心司机订单数',
            'GMV(机显)','GMV(用券前)','GMV(用券后)','找油网结算成本','签到奖励','司推司奖励','新增首单司机数','本月安装新增首单司机数','非本月安装首单司机数','首单3日留存数','首单7日留存数',
           '司推司授权人数','司推司注册司机','司推司首单司机','司推司推荐人数','新增未认证安装量','新增认证审核','新增已认证','安装当日加油人数','安装7日内加油人数',
            '累计注册量','累计安装量','累计已认证','完成首次加油人数','加油流失人数','加油司机流失率','累计核心司机数','当前核心司机数','新增核心司机数','复苏核心司机数',
            '有效用户数','APP日活','APP日活(已认证)','APP复活司机(7日)','APP复活司机(14日)','APP复活司机加油数(7日)','APP复活司机加油数(14日)']

In [16]:
df.to_excel('加油日报{}.xlsx'.format(time_down))

In [17]:
def eSend(sender,receiver,username,password,smtpserver,subject,e_content,file_path,file_name):
   #邮件头
    message = MIMEMultipart()
    message['From'] = sender#发送
    message['To'] = ",".join(receiver)#收件
    message['Subject'] = Header(subject, 'utf-8')
    message.attach(MIMEText(e_content, 'plain', 'utf-8'))# 邮件正文
# 构造附件
    att1 = MIMEText(open(file_path+file_name,'rb').read(), 'base64', 'utf-8')
    att1["Content-Type"] = 'application/octet-stream'
    att1.add_header('Content-Disposition', 'attachment', filename=('gbk', '', file_name) )
    message.attach(att1)
#执行
    smtp = smtplib.SMTP()
    smtp.connect(smtpserver,25) #连接服务器
    smtp.login(username, password) #登录
    smtp.sendmail(sender, receiver, message.as_string())  #发送
    smtp.quit()
    return

In [18]:
sender = 'xuchong@xiaojubianli.com'  # 发件人邮箱
receiver = ['xuchong@xiaojubianli.com']  # 收件人邮箱，可以多个（列表形式）群发
username = 'xuchong@xiaojubianli.com'  # 发件人姓名
password = 'woaishuiXC911021'  # smtp密码，qq是给你分配一串，163是自己设置
smtpserver = 'smtp.mxhichina.com'  # 邮箱服务器
subject = '加油日报{}.xlsx'.format(time_down)      #邮件标题
e_content = '加油日报%s,请查收\n\n\nRegards\n  Chong'%(time_down)  #邮件正文
#__file_____
file_path = ""    #文件位置
file_name='加油日报%s.xlsx'%((datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d"))    #文件名
eSend(sender,receiver,username,password,smtpserver,subject,e_content,file_path,file_name)

## 分租赁公司数据

### 简表

In [38]:
time='2019-4-3'
time_down=(datetime.today() - timedelta(days=2)).strftime("%Y-%m-%d")
first_day=datetime.strptime(datetime.strptime(time_down,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
L=['SH-0004','SH-0001','SH-0002',
'SH-0003','SH-0014','SH-0021','SH-0005','SH-0012','SH-0006','SH-0008','SH-0011','SH-0022','SH-0013','SH-0038','SH-0039',
  'SH-0025',
'SH-0026',
'SH-0027',
'SH-0028',
'SH-0029',
'SH-0030',
'SH-0031',
'SH-0032',
'SH-0040',
'SH-0041',
'SH-0042',
'SH-0044',
'SH-0046',
'SH-0034',
'SH-0009','SH-0037','SH-0018','SH-0047','SX-0001','SX-0002','SX-0003','SX-0004','JH-0001','JH-0002']
lc_sn_str='SH-0004,SH-0001,SH-0002,\
SH-0003,SH-0014,SH-0021,SH-0005,SH-0012,SH-0006,SH-0008,SH-0011,SH-0022,SH-0013,SH-0038,SH-0039,SH-0025,SH-0026,SH-0027,SH-0028,SH-0029,\
SH-0030,SH-0031,SH-0032,SH-0040,SH-0041,SH-0042,SH-0044,SH-0046,SH-0034,SH-0009,SH-0037,SH-0018,\
SH-0047,SX-0001,SX-0002,SX-0003,SX-0004,JH-0001,JH-0002'
dim_ss=pd.Series(index=L,data=[0]*39)
#日安装新司机数
sql1='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#日安装老司机数
sql2='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#日安装总司机数
sql3='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#本月安装司机数
sql4='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date BETWEEN '{}' AND '{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(first_day,time_down,lc_sn_str)
#累计安装司机数
sql5='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#日加油司机数
sql6='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
JOIN (SELECT driver_id FROM mgo_order WHERE tag=7 AND status=1 GROUP BY driver_id HAVING MIN(DATE(add_time))='{}') d ON c.driver_id=d.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date BETWEEN '{}' AND '{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time_down,first_day,time_down,lc_sn_str)
#本月加油司机数
sql7='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
JOIN (SELECT DISTINCT driver_id FROM mgo_order WHERE tag=7 AND status=1 AND DATE(add_time) BETWEEN '{}' AND '{}') d ON c.driver_id=d.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
#AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date BETWEEN '{}' AND '{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(first_day,time_down,first_day,time_down,lc_sn_str)
for i in range (1,8):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('csn').num+dim_ss).fillna(0)
    vars()['df'+str(i)]=vars()['df'+str(i)].reindex(index=L)
#生成df拼接列表
L=[]
for i in range (1,8):
    L.insert(i-1,vars()['df'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['日新司机','日老司机','日总司机数','月累计安装','累计安装','日加油新司机数','月加油新司机数']

In [39]:
df

         日新司机  日老司机  日总司机数  月累计安装    累计安装  日加油新司机数  月加油新司机数
SH-0004   6.0     0    6.0   19.0  1821.0      3.0      4.0
SH-0001  23.0     0   23.0   32.0  1570.0      1.0      1.0
SH-0002   4.0     0    4.0   32.0  1757.0      1.0      1.0
SH-0003   3.0     0    3.0    0.0   985.0      0.0      0.0
SH-0014   0.0     0    0.0    0.0    76.0      0.0      0.0
SH-0021   0.0     0    0.0    0.0    22.0      0.0      0.0
SH-0005   0.0     0    0.0    0.0     8.0      0.0      0.0
SH-0012   0.0     0    0.0    0.0   146.0      0.0      0.0
SH-0006   0.0     0    0.0    0.0     2.0      0.0      0.0
SH-0008   8.0     0    8.0    0.0   293.0      0.0      0.0
SH-0011   0.0     0    0.0    5.0   269.0      0.0      1.0
SH-0022   0.0     0    0.0    0.0    21.0      0.0      0.0
SH-0013   0.0     0    0.0    5.0   110.0      0.0      0.0
SH-0038   0.0     0    0.0    7.0   103.0      0.0      0.0
SH-0039   3.0     0    3.0    0.0   286.0      0.0      0.0
SH-0025   1.0     0    1.0    0.0    31.0      0.0      0.0
SH-0026   0.0     0    0.0    0.0     0.0      0.0      0.0
SH-0027   1.0     0    1.0    5.0    73.0      0.0      0.0
SH-0028   0.0     0    0.0    0.0     2.0      0.0      0.0
SH-0029   0.0     0    0.0    0.0     1.0      0.0      0.0
SH-0030   0.0     0    0.0    0.0     1.0      0.0      0.0
SH-0031   0.0     0    0.0    0.0     0.0      0.0      0.0
SH-0032   0.0     0    0.0    0.0     1.0      0.0      0.0
SH-0040   0.0     0    0.0    0.0     1.0      0.0      0.0
SH-0041   0.0     0    0.0    0.0     4.0      0.0      0.0
SH-0042   0.0     0    0.0    0.0     2.0      0.0      0.0
SH-0044   0.0     0    0.0    0.0    12.0      0.0      0.0
SH-0046   0.0     0    0.0    0.0     9.0      0.0      0.0
SH-0034   0.0     0    0.0    0.0     2.0      0.0      0.0
SH-0009   0.0     0    0.0    0.0     4.0      0.0      0.0
SH-0037   0.0     0    0.0    0.0     6.0      0.0      0.0
SH-0018   0.0     0    0.0    0.0     8.0      0.0      0.0
SH-0047   1.0     0    1.0    0.0   135.0      0.0      0.0
SX-0001   0.0     0    0.0    0.0    33.0      0.0      0.0
SX-0002   0.0     0    0.0    0.0    32.0      0.0      0.0
SX-0003   0.0     0    0.0    4.0    35.0      0.0      1.0
SX-0004   0.0     0    0.0    1.0    10.0      0.0      0.0
JH-0001   3.0     0    3.0    0.0    71.0      0.0      0.0
JH-0002   1.0     0    1.0    2.0   108.0      0.0      0.0

### 新的一批租赁公司

In [18]:
time='2019-3-19'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
first_day=datetime.strptime(datetime.strptime(time_down,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
L=['SH-0025',
'SH-0026',
'SH-0027',
'SH-0028',
'SH-0029',
'SH-0030',
'SH-0031',
'SH-0032',
'SH-0040',
'SH-0041',
'SH-0042',
'SH-0044',
'SH-0046',
'SH-0034'
]
lc_sn_str='SH-0025,SH-0026,SH-0027,SH-0028,SH-0029,SH-0030,SH-0031,SH-0032,SH-0040,SH-0041,SH-0042,SH-0044,SH-0046,SH-0034'
dim_ss=pd.Series(index=L,data=[0]*14)
#日安装新司机数
sql1='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#日安装老司机数
sql2='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#日安装总司机数
sql3='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#本月安装司机数
sql4='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date BETWEEN '{}' AND '{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(first_day,time_down,lc_sn_str)
#累计安装司机数
sql5='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
for i in range (1,6):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('csn').num+dim_ss).fillna(0)
    vars()['df'+str(i)]=vars()['df'+str(i)].reindex(index=L)
#生成df拼接列表
L=[]
for i in range (1,6):
    L.insert(i-1,vars()['df'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['日新司机','日老司机','日总司机数','月累计安装','累计安装']

In [19]:
df

         日新司机  日老司机  日总司机数  月累计安装  累计安装
SH-0025   0.0   0.0    0.0    8.0   8.0
SH-0026   0.0   0.0    0.0    0.0   0.0
SH-0027   1.0   0.0    1.0   24.0  25.0
SH-0028   0.0   0.0    0.0    0.0   2.0
SH-0029   0.0   0.0    0.0    0.0   1.0
SH-0030   0.0   0.0    0.0    0.0   1.0
SH-0031   0.0   0.0    0.0    0.0   0.0
SH-0032   0.0   0.0    0.0    0.0   1.0
SH-0040   0.0   0.0    0.0    0.0   1.0
SH-0041   0.0   0.0    0.0    0.0   4.0
SH-0042   0.0   0.0    0.0    0.0   2.0
SH-0044   5.0   0.0    5.0    7.0  10.0
SH-0046   0.0   0.0    0.0    7.0   9.0
SH-0034   0.0   0.0    0.0    2.0   2.0

### 分油站数据

In [18]:
#分油站数据
time_up='2019-3-1'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'日期'},inplace=True)
dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
dim_ss=dim_ss.set_index('日期')
dim_ss=dim_ss[0]
first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
#订单数
##道达尔华湄
sql1='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101173
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##道达尔恒辰
sql2='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100758
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海金盾
sql3='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101174
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江石油758
sql4='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101176
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江东江
sql5='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101179
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海振翔
sql6='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101545
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海申马
sql7='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101567
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##亭大
sql8='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100733
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##周家嘴路
sql9='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101566
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##中海油上海联由
sql10='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101644
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海吴化
sql11='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101150
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##北方石油
sql12='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101746
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##中石油普陀第一
sql13='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101798
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江石油万航渡路
sql14='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101792
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##申隆石化双城站
sql15='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101841
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##申隆石化云山站
sql16='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101840
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##青物加油站
sql17='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101490
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##茸平加油站 
sql18='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101432
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海第二加油站
sql19='''SELECT DATE(a.add_time) 日期,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100918
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#GMV
##道达尔华湄
sql01='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101173
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##道达尔恒辰
sql02='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100758
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海金盾
sql03='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101174
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江石油758
sql04='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101176
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江东江
sql05='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101179
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海振翔
sql06='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101545
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海申马
sql07='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101567
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##亭大
sql08='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100733
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##周家嘴路
sql09='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101566
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##中海油联由
sql010='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101644
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海吴化
sql011='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101150
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##北方石油
sql012='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101746
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##中石油普陀第一
sql013='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101798
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##华江石油万航渡路
sql014='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101792
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##申隆石化双城站
sql015='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101841
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##申隆石化云山站
sql016='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101840
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##青物加油站
sql017='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101490
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##茸平加油站 
sql018='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=101432
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
##上海第二加油站
sql019='''SELECT DATE(a.add_time) 日期,SUM(a.platform_sale_amount/100) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND a.station_id=100918
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time)'''.format(time_up,time_down)
#直接取数sql批量处理
for i in range (1,20):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
for i in range (1,20):
    vars()['df0'+str(i)]=(reader(vars()['sql0'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
#生成df拼接列表
L=[]
for i in range (1,20):
    L.insert(i-1,vars()['df'+str(i)])
for i in range (1,20):
    L.insert(i-1,vars()['df0'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['道达尔华湄num','道达尔恒辰num','上海金盾num','华江石油758num','华江东江num','振翔num','申马num','亭大num','周家嘴路num','中海油联由',
           '上海吴化num','北方石油num','中石油普陀num','华江万航渡路num','申隆双城站num','申隆云山站num','青物num','茸平num','上海第二num',
            '道达尔华湄gmv','道达尔恒辰gmv','上海金盾gmv','华江石油758gmv','华江东江gmv','振翔gmv','申马gmv','亭大gmv','周家嘴路gmv','中海油联由',
            '上海吴化gmv','北方石油gmv','中石油普陀gmv','华江万航渡路gmv','申隆双城站gmv','申隆云山站gmv','青物gmv','茸平gmv','上海第二gmv']

In [15]:
df

,道达尔华湄num,道达尔恒辰num,上海金盾num,华江石油758num,华江东江num,振翔num,申马num,亭大num,周家嘴路num,中海油联由,...,中海油联由,上海吴化gmv,北方石油gmv,中石油普陀gmv,华江万航渡路gmv,申隆双城站gmv,申隆云山站gmv,青物gmv,茸平gmv,上海第二gmv
日期,,,,,,,,,,,,,,,,,,,,,
2019-02-25,2272.31,298.32,150.09,2364.20,9405.39,377.66,631.23,0,1121.49,0.00,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
2019-02-26,882.73,1051.63,279.65,1820.56,11830.18,618.48,841.94,0,1212.42,0.00,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
2019-02-27,2728.44,719.55,1023.65,3162.81,11975.98,284.50,757.29,0,1126.13,0.00,...,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0,0
2019-02-28,2702.88,1132.75,139.83,2499.26,14456.66,963.62,466.68,0,1350.35,0.00,...,0.0,1.0,0,1.0,5.0,1.0,2.0,0.0,0.0,0
2019-03-01,4339.99,1274.66,1537.22,2842.35,21287.52,2460.49,806.48,0,11142.78,330.92,...,4.0,1.0,0,2.0,17.0,5.0,1.0,1.0,0.0,0
2019-03-02,2978.86,1129.13,467.95,799.48,17919.74,450.82,986.01,0,1996.48,0.00,...,0.0,0.0,0,2.0,13.0,0.0,0.0,1.0,0.0,0
2019-03-03,1912.85,730.27,434.06,1646.06,12192.31,215.60,775.41,0,1025.74,98.00,...,1.0,0.0,0,2.0,4.0,0.0,0.0,0.0,1.0,0
2019-03-04,2195.44,847.78,606.47,1142.89,9881.08,249.91,322.25,0,603.91,0.00,...,0.0,0.0,0,0.0,6.0,0.0,0.0,0.0,0.0,0

In [16]:
df.to_excel('订单分布-油站{}.xlsx'.format(datetime.now().date()))

### 产品端数据

In [22]:
sql='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppViewScreen' 
AND $screen_name IN ('MGODegreeController','com.mgo.driver.ui.signin.SignInActivity')
AND date='{}' '''
start_date=time_up
end_date=time_down
df=pd.DataFrame(columns=['日期','num'])
for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
    day=day.date()
    sql1='''SELECT driver_id FROM mgo_driver_attestation_record 
    WHERE check_status=1
    AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
    AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
    AND driver_id NOT IN (30141,125607,125585)
    AND DATE(check_time)<='{}' '''.format(day)
    df1=reader(sql1)
    df1['driver_id']=df1.driver_id.astype(str)
    sql_new=sql.format(day)
    #从神策API返回数据
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                           .format(sql_new),data='{"mode": "raw","raw": ""}',headers=header1)
    L=[]
    for i in range (0,len(response.text.split('\n'))-1):
        L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
    ss=pd.Series(data=L)
    num=ss[ss.isin(df1.driver_id)].count()
    sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
    df=pd.concat([df,sub_df],ignore_index=True)
df=(df.set_index('日期').num-dim_ss).fillna(0)

D:\software\Anaconda3\lib\site-packages\pandas\core\generic.py:7435: RuntimeWarning: '<' not supported between instances of 'datetime.date' and 'str', sort order is undefined for incomparable objects
  return_indexers=True)

In [18]:
#产品端
time_up='2019-1-9'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'日期'},inplace=True)
dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
dim_ss=dim_ss.set_index('日期')
dim_ss=dim_ss[0]
first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
#APP签到(已认证)
sql20='''SELECT '{}' 日期,COUNT(driver_id) num FROM mgo_driver_sign
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND driver_id IN (SELECT driver_id FROM mgo_driver_attestation_record 
        WHERE check_status=1 AND DATE(check_time)<='{}')
AND DATE(add_time)='{}' '''
df20=accum_total2(sql20,time_up,time_down)
#签到页
sql21='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppViewScreen' 
AND $screen_name IN ('MGODegreeController','com.mgo.driver.ui.signin.SignInActivity')
AND date='{}' '''
df21=get_authinfo_sensor(sql21,time_up,time_down)
#分享
sql22='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppClick'
AND ($element_content LIKE '%%微信好友%%'
OR $element_content LIKE '%%朋友圈%%')
AND date='{}' '''
df22=get_authinfo_sensor(sql22,time_up,time_down)
#抽奖
sql23='''SELECT '{}' 日期,COUNT(1) num FROM mgo_activity_luck_record
WHERE app_id=3
AND app_user_id NOT IN 
(SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND app_user_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND app_user_id IN (SELECT driver_id FROM mgo_driver_attestation_record 
        WHERE check_status=1 AND DATE(check_time)<='{}')
AND DATE(add_time)='{}' '''
df23=accum_total2(sql23,time_up,time_down)
#司推司推荐成功人数(输入手机号)
sql24='''SELECT DATE(add_time) 日期,COUNT(1) num
FROM mgo_driver_invite
WHERE invite_driver_id IN
(SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND invite_driver_id NOT IN 
(SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
df24=(reader(sql24).set_index('日期').num-dim_ss).fillna(0)
#司推司认证成功人数
sql25='''SELECT DATE(add_time) 日期,COUNT(1) num
FROM mgo_driver_invite
WHERE invite_driver_id IN
(SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND invite_driver_id NOT IN 
(SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND if_receive=1
AND DATE(add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(add_time)'''.format(time_up,time_down)
df25=(reader(sql25).set_index('日期').num-dim_ss).fillna(0)
#省钱UV
sql26='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppViewScreen' 
AND $screen_name IN ('MGOSaveMoneyController','com.mgo.driver.ui.main.MainActivity|com.mgo.driver.ui2.save.SaveMoneyFragment')
AND date='{}' '''
df26=get_authinfo_sensor(sql26,time_up,time_down)
#加油站详情
sql27='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppViewScreen' 
AND $screen_name IN ('MGOOilDetailController','com.mgo.driver.ui2.gas.GasStationActivity')
AND date='{}' '''
df27=get_authinfo_sensor(sql27,time_up,time_down)
#立即加油
sql28='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppClick'
AND $element_content LIKE '%%立即加油%%'
AND date='{}' '''
df28=get_authinfo_sensor(sql28,time_up,time_down)
#立即支付
sql29='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppClick'
AND $element_content LIKE '%%立即支付%%'
AND date='{}' '''
df29=get_authinfo_sensor(sql29,time_up,time_down)
#生成df拼接列表
L=[]
for i in range (20,30):
    L.insert(i-20,vars()['df'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['签到人数','签到页','分享人数','抽奖人数','推荐人数','推荐成功人数','省钱页','加油详情页','立即加油','立即支付']

In [19]:
df

            签到人数  签到页  分享人数  抽奖人数  推荐人数  推荐成功人数  省钱页  加油详情页  立即加油  立即支付
日期
2019-01-09   261  260    57    37    28      15  173     63    20    11
2019-01-10   304  306    70    42    52      23  199     61    22     7
2019-01-11   305  304    77    51    34      11  200     76    21    10
2019-01-12   293  293    79    54    34      15  169     59    16     8
2019-01-13   255  255    72    49    56      13  130     42     7     4
2019-01-14   326  322    81    52    84      44  202     76    19     8
2019-01-15   359  355    68    34   115      20  264     81    19     4
2019-01-16   370  367   101    73   102      13  310    111    40    16
2019-01-17   424  423   142   107    67       7  367    131    40    28
2019-01-18   386  385   120    89    37       5  404    168    60    36
2019-01-19   295  295   100    88    32       1  274     57    17    11
2019-01-20   266  266   101    90    25       1  257     68    16    12
2019-01-21   334  334   114   104    36       6  305     81    34    18
2019-01-22   316  315   109    99    21       2  302     79    32    15
2019-01-23   329  328   116   109    18       1  285     70    27    16

### 单租赁公司分日安装数据

In [16]:
def accum_csn_total(sql,csn,start_date,end_date):
    df=pd.DataFrame(columns=['日期','num'])
    for day in  pd.date_range(start=start_date,end=end_date,freq='1D'):
        day=day.date()
        sub_df=reader(sql.format(day,csn,day))
        df=pd.concat([df,sub_df],ignore_index=True)
    df['日期']=df.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df=(df.set_index('日期').num-dim_ss).fillna(0)
    return df

In [17]:
time_up='2018-12-14'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'日期'},inplace=True)
dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
dim_ss=dim_ss.set_index('日期')
dim_ss=dim_ss[0]
first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
csn='SH-0023'
#日安装新司机数
sql1='''SELECT DATE(a.add_time) 日期,COUNT(a.driver_id) num FROM mgo_driver_third a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.type=6
AND c.leasing_company_sn='{}'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time) '''.format(csn,time_up,time_down)
#日安装老司机数
sql2='''SELECT DATE(a.add_time) 日期,COUNT(a.driver_id) num FROM mgo_driver_third a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.type=6
AND c.leasing_company_sn='{}'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time) '''.format(csn,time_up,time_down)
#日安装总司机数
sql3='''SELECT  DATE(a.add_time) 日期,COUNT(a.driver_id) num FROM mgo_driver_third a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.type=6
AND c.leasing_company_sn='{}'
AND DATE(a.add_time) BETWEEN '{}' AND '{}'
GROUP BY DATE(a.add_time) '''.format(csn,time_up,time_down)
#累计安装司机数
sql4='''SELECT '{}' 日期,COUNT(a.driver_id) num FROM mgo_driver_third a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.type=6
AND c.leasing_company_sn='{}'
AND DATE(a.add_time)<='{}' '''
df4=accum_csn_total(sql4,csn,time_up,time_down)
for i in range (1,4):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('日期').num-dim_ss).fillna(0)
#生成df拼接列表
L=[]
for i in range(1,5):
    L.insert(i-1,vars()['df'+str(i)])
#拼接Series
df=pd.concat(L,axis=1)
df.columns=['日新司机','日老司机','日总司机数','累计安装']

In [19]:
df

         日新司机  日老司机  日总司机数  月累计安装  累计安装
SH-0025   0.0   0.0    0.0    2.0   2.0
SH-0026   0.0   0.0    0.0    0.0   0.0
SH-0027   0.0   0.0    0.0    3.0   4.0
SH-0028   0.0   0.0    0.0    0.0   2.0
SH-0029   0.0   0.0    0.0    0.0   1.0
SH-0030   0.0   0.0    0.0    0.0   1.0
SH-0031   0.0   0.0    0.0    0.0   0.0
SH-0032   0.0   0.0    0.0    0.0   1.0
SH-0040   0.0   0.0    0.0    0.0   1.0
SH-0041   0.0   0.0    0.0    0.0   4.0
SH-0042   0.0   0.0    0.0    0.0   2.0
SH-0044   0.0   0.0    0.0    2.0   5.0
SH-0046   2.0   0.0    2.0    3.0   5.0
SH-0034   1.0   0.0    1.0    1.0   1.0

### 细表

In [13]:
time='2018-12-19'
L=['SH-0004','SH-0001','SH-0002',
'SH-0003','SH-0014','SH-0021','SH-0005','SH-0012','SH-0006','SH-0008','SH-0011','SH-0022','SH-0013']
lc_sn_str='SH-0004,SH-0001,SH-0002,\
SH-0003,SH-0014,SH-0021,SH-0005,SH-0012,SH-0006,SH-0008,SH-0011,SH-0022,SH-0013'
dim_ss=pd.Series(index=L,data=[0]*13)
#订单量
sql1='''SELECT c.leasing_company_sn csn,COUNT(a.order_sn) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.leasing_company_sn LIKE 'SH%%'
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}') '''.format(time,lc_sn_str)
#GMV
sql2='''SELECT c.leasing_company_sn csn,SUM(a.platform_sale_amount)/100 num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.leasing_company_sn LIKE 'SH%%'
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}') '''.format(time,lc_sn_str)
#加油司机数
sql3='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (30141,125607,125585)
AND c.leasing_company_sn LIKE 'SH%%'
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}') '''.format(time,lc_sn_str)
#新增认证司机数
sql4='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND DATE(a.check_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增认证司机数(新)
sql5='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.operation_user!='系统添加'
AND DATE(a.check_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增认证司机数(老)
sql6='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.operation_user='系统添加'
AND DATE(a.check_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增自拉认证司机数
sql7='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.check_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增租赁公司认证司机数
sql8='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.check_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增注册司机数
sql9='''SELECT c.leasing_company_sn csn,COUNT(1) num FROM mgo_driver a
JOIN mgo_driver_info c ON a.id=c.driver_id
WHERE a.id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND a.id NOT IN (30141,125607,125585)
AND DATE(FROM_UNIXTIME(a.create_time))='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增安装量(总)
sql10='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增安装量(新司机)
sql11='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增安装量(老司机)
sql12='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND a.driver_id IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增安装量(自拉)
sql13='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND a.active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增安装量(租赁公司)
sql14='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND a.active_date='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增提交认证
sql15='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增提交认证(自拉)
sql16='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#新增提交认证(租赁公司)
sql17='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.add_time)='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计安装量
sql18='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计安装量(新)
sql19='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计安装量(老)
sql20='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND a.active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计安装量(自拉)
sql21='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND a.active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计安装量(租赁公司)
sql22='''SELECT c.leasing_company_sn csn,COUNT(a.driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND a.active_date<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计认证量
sql23='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record  a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND DATE(a.check_time)<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计认证量(新)
sql24='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record  a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND DATE(a.check_time)<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计认证量(老)
sql25='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record  a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND DATE(a.check_time)<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计认证量(自拉)
sql26='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record  a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id NOT IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.check_time)<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#累计认证量(租赁公司)
sql27='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT a.driver_id) num FROM mgo_driver_attestation_record  a
JOIN mgo_driver_info c ON a.driver_id=c.driver_id
WHERE a.check_status=1
AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND a.driver_id NOT IN (30141,125607,125585)
AND a.driver_id IN (SELECT driver_id FROM mgo_driver_recommend WHERE DATE(add_time)>='2018-12-14')
AND DATE(a.check_time)<='{}'
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#完成首次加油司机数
sql28='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND b.driver_id NOT IN (30141,125607,125585)
AND DATE(a.add_time)<='{}' 
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#完成首次加油司机数(新)
sql29='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND b.driver_id NOT IN (30141,125607,125585)
AND b.driver_id NOT IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND DATE(a.add_time)<='{}' 
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
#完成首次加油司机数(老)
sql30='''SELECT c.leasing_company_sn csn,COUNT(DISTINCT b.app_user_id) num FROM mgo_driver_gas_order_info a
JOIN mgo_order b ON a.order_sn=b.order_sn
JOIN mgo_driver_info c ON b.driver_id=c.driver_id
WHERE b.status=1
AND b.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND b.driver_id NOT IN (30141,125607,125585)
AND b.driver_id IN
(SELECT driver_id FROM mgo_driver_attestation_record 
WHERE check_status=1
AND operation_user='系统添加')
AND DATE(a.add_time)<='{}' 
GROUP BY c.leasing_company_sn 
ORDER BY FIND_IN_SET(c.leasing_company_sn,'{}')'''.format(time,lc_sn_str)
for i in range (1,31):
    vars()['df'+str(i)]=(reader(vars()['sql'+str(i)]).set_index('csn').num+dim_ss).fillna(0)
    vars()['df'+str(i)]=vars()['df'+str(i)].reindex(index=L)
#生成df拼接列表
L=[]
for i in range (1,31):
    L.insert(i-1,vars()['df'+str(i)])
#拼接Series
df_detail=pd.concat(L,axis=1)
df_detail.columns=['订单量','GMV','日加油司机数','新增认证量(总)','新增认证量(新)','新增认证量(老)','新增认证量(自拉)',
            '新增认证量(租赁公司)','新增注册量','新增安装量(总)','新增安装量(新)','新增安装量(老)','新增安装量(自拉)',
            '新增安装量(租赁公司)','新增提交认证(总)','新增提交认证(自拉)','新增提交认证(租赁公司)','累计安装量(总)',
            '累计安装量(新)','累计安装量(老)','累计安装量(自拉)','累计安装量(租赁公司)','累计认证量','累计认证量(新)',
            '累计认证量(老)','累计认证量(自拉)','累计认证量(租赁公司)','累计完成首次加油','累计完成首次加油(新)','累计完成首次加油(老)']

In [67]:
df_detail.to_excel('分租赁公司详细日报.xlsx')

## 新注册司机认证情况

In [44]:
#转化环节
time_up='2018-12-15'
time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
dim_ss=dim_ss.reset_index()
dim_ss.rename(columns={'index':'日期'},inplace=True)
dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
dim_ss=dim_ss.set_index('日期')
dim_ss=dim_ss[0]
first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
#新增注册
sql1='''SELECT DATE(FROM_UNIXTIME(create_time)) 日期,COUNT(1) num FROM mgo_driver
WHERE id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND id NOT IN (30141,125607,125585)
AND FROM_UNIXTIME(create_time,'%%Y-%%m-%%d') BETWEEN '{}' AND '{}'
GROUP BY FROM_UNIXTIME(create_time,'%%Y-%%m-%%d')'''.format(time_up,time_down)
#新增注册安装
sql2='''SELECT '{}' 日期,COUNT(driver_id) num FROM (SELECT driver_id,MIN(DATE(add_time)) active_date FROM mgo_driver_app
GROUP BY driver_id) a
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND driver_id NOT IN (30141,125607,125585)
AND active_date='{}'
AND driver_id IN 
(SELECT id FROM mgo_driver
WHERE id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND id NOT IN (30141,125607,125585)
AND DATE(FROM_UNIXTIME(create_time))='{}')'''
#新增注册认证审核
sql3='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_driver_attestation_record 
WHERE driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND driver_id NOT IN (30141,125607,125585)
AND DATE(add_time)='{}'
AND driver_id IN 
(SELECT id FROM mgo_driver
WHERE id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND id NOT IN (30141,125607,125585)
AND DATE(FROM_UNIXTIME(create_time))='{}')'''
#新增注册已认证
sql4='''SELECT '{}' 日期,COUNT(DISTINCT driver_id) num FROM mgo_driver_attestation_record 
WHERE check_status=1
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND driver_id NOT IN (30141,125607,125585)
AND DATE(check_time)='{}'
AND driver_id IN 
(SELECT id FROM mgo_driver
WHERE id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
AND tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
AND id NOT IN (30141,125607,125585)
AND DATE(FROM_UNIXTIME(create_time))='{}')'''
df1=(reader(sql1).set_index('日期').num-dim_ss).fillna(0)
df2=accum_total2(sql2,time_up,time_down)
df3=accum_total2(sql3,time_up,time_down)
df4=accum_total2(sql4,time_up,time_down)
df=pd.concat([df1,df2,df3,df4],axis=1)
df.columns=['新增注册','新增注册安装','新增注册认证审核','新增注册已认证']

## 以下为测试代码

In [49]:
#神策匹配测试
sql1='''SELECT driver_id FROM mgo_driver_info 
WHERE distric_sn LIKE '310%%'
AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))'''
sql20='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppStart' 
AND date='{}' '''
df1=reader(sql1)
df1['driver_id']=df1.driver_id.astype(str)
df=pd.DataFrame(columns=['日期','num'])
for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
    day=day.date()
    sql=sql20.format(day)
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                           .format(sql),data='{"mode": "raw","raw": ""}',headers=header1)
    L=[]
    for i in range (0,len(response.text.split('\n'))-1):
        L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
    ss=pd.Series(data=L)
    num=ss[ss.isin(df1.driver_id)].count()
    sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
    df=pd.concat([df,sub_df],ignore_index=True)
df=(df.set_index('日期').num-dim_ss).fillna(0)

In [51]:
sql20='''SELECT DISTINCT distinct_id FROM events 
WHERE  event='$AppStart' 
AND date='{}' '''
df=pd.DataFrame(columns=['日期','num'])
for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
    day=day.date()
    sql1='''SELECT driver_id FROM mgo_driver_attestation_record 
    WHERE check_status=1
    AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
    AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%')
    AND driver_id NOT IN (30141,125607)
    AND DATE(update_time)<='{}' '''.format(day)
    df1=reader(sql1)
    df1['driver_id']=df1.driver_id.astype(str)
    sql=sql20.format(day)
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                           .format(sql),data='{"mode": "raw","raw": ""}',headers=header1)
    L=[]
    for i in range (0,len(response.text.split('\n'))-1):
        L.insert(i,json.loads(response.text.split('\n')[i])['distinct_id'])
    ss=pd.Series(data=L)
    num=ss[ss.isin(df1.driver_id)].count()
    sub_df=pd.DataFrame(data={'日期':[day],'num':[num]})
    df=pd.concat([df,sub_df],ignore_index=True)
df=(df.set_index('日期').num-dim_ss).fillna(0)

In [9]:
#测试用
time_up='2018-12-10'
sql2='''SELECT DISTINCT driver_id FROM mgo_driver_attestation_record 
        WHERE check_status=1
        AND driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
        AND driver_id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%%%')
        AND DATE(update_time)<='{}'  '''.format(time_up)
df=reader(sql2)

In [20]:
sql15='''SELECT '{}' 日期,COUNT(1) num FROM mgo_driver
    WHERE id IN (SELECT driver_id FROM mgo_driver_info WHERE distric_sn LIKE '310%%%%')
    AND tel NOT IN (SELECT mobile FROM mgo_ding_talk_user)
    AND FROM_UNIXTIME(create_time,'%%%%Y-%%%%m-%%%%d')<='{}' '''.format('2018-12-03','2018-12-03')
sub_df=reader(sql15)

In [ ]:
df15['日期']=df15.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
df15=(df15.set_index('日期').num-dim_ss).fillna(0)

In [ ]:
'''
def get_cityinfo_sensor(sql):
    response=requests.post(url="https://data.mobilemart.cn/api/sql/query?q={0}&format=format&project=production"\
                           .format(sql),data='{"mode": "raw","raw": ""}',headers=header1)
    L1=[]
    L2=[]
    for i in range (0,len(response.text.split('\n'))-1):
        L1.insert(i,json.loads(response.text.split('\n')[i])['日期'])
        L2.insert(i,json.loads(response.text.split('\n')[i])['num'])
    df=pd.DataFrame(data={'date':L1,'num':L2})
'''