In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
import smtplib
import xlwt
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.header import Header
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta

## 注
    活跃司机:本月活跃率大于等于50%

In [2]:
engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@rr-2ze2k9sn688w5h3z51o.mysql.rds.aliyuncs.com:3306/{0}?charset=utf8".format('mgo'))
def reader(query):
    sql=query
    df=pd.read_sql(sql,engine)
    return df

In [3]:
def caculate_daylive(time_up='2018-1-1',
                time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d"),city_sn=330100):
    if city_sn==330100:
        company_sn='HZ'
    if city_sn==310100:
        company_sn='SH'
    if city_sn==440100:
        company_sn='GZ'
    interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
    dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
    dim_ss=dim_ss.reset_index()
    dim_ss.rename(columns={'index':'日期'},inplace=True)
    dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
    dim_ss=dim_ss.set_index('日期')
    dim_ss=dim_ss[0]
    first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
    #开单司机数
    sql1='''SELECT date(c.add_time) 日期,COUNT(DISTINCT a.id) 开单司机数 FROM mgo_driver a
    JOIN mgo_driver_info b
    ON b.driver_id=a.id
    JOIN mgo_order c
    ON c.driver_id=a.id
    WHERE c.status=1 AND b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d ))
    AND b.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND b.driver_id NOT IN (124362,123331,124666,124751)
    AND date(c.add_time) between '%s' AND '%s' group by date(c.add_time)'''%(city_sn,time_up,time_down)
    df1=(reader(sql1).set_index('日期').开单司机数-dim_ss).fillna(0)
    if city_sn==440100:
        df0=pd.DataFrame(columns=['日期','可接单司机数'])
        for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
            day=day.date()
            sql0_1='''SELECT '%s' 日期,COUNT(DISTINCT a.driver_id) 可接单司机数 FROM mgo_scm_replenishment_stream a 
            JOIN mgo_driver b
            ON a.driver_id=b.id
            JOIN mgo_driver_info c
            ON b.id=c.driver_id
            WHERE a.rep_stock=1
            AND a.driver_id IN
            (SELECT driver_id FROM mgo_driver_info WHERE distric_sn in (select distric_sn from mgo.mgo_city where city_sn = %d))
            AND a.sku_id NOT IN (220,221,223,224,237,238,239,242,243)
            AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
            AND b.is_checked=1
            AND DATE(b.checked_time)<='%s'
            AND c.leasing_company_sn!='GZ-0005' '''%(day,city_sn,day)
            sub_df=reader(sql0_1)
            df0=pd.concat([df0,sub_df],ignore_index=True)
        df0['日期']=df0.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
        df0=(df0.set_index('日期').可接单司机数-dim_ss).fillna(0)
    return df1/df0

In [4]:
#time_down=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
def generate_df(time_up='2018-1-1',
                time_down='2019-6-30',city_sn=330100):
    if city_sn==330100:
        company_sn='HZ'
    if city_sn==310100:
        company_sn='SH'
    if city_sn==440100:
        company_sn='GZ'
    interval_days=int((datetime.strptime(time_down,'%Y-%m-%d')-datetime.strptime(time_up,'%Y-%m-%d'))/timedelta(days=1)+1)
    dim_ss=pd.Series(index=pd.date_range(start=time_up,end=time_down),data=[0]*interval_days)
    dim_ss=dim_ss.reset_index()
    dim_ss.rename(columns={'index':'日期'},inplace=True)
    dim_ss['日期']=dim_ss.日期.apply(lambda x:x.date())
    dim_ss=dim_ss.set_index('日期')
    dim_ss=dim_ss[0]
    first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
    #扫码UV
    sql01='''SELECT date(a.add_time) 日期,count(distinct concat(a.shelf_sn,"-",a.user_id)) 扫码UV  FROM   mgo. mgo_driver_info c  
         left join mgo_driver_shelf e on c.driver_id = e.driver_id
         left join mgo.dim_scan_log  a  on a.shelf_sn = e.shelf_sn
         where  c.distric_sn in (select distric_sn from mgo_city where city_sn = %d )
         AND date(a.add_time) between '%s' AND '%s' and  a.module = 'newHome' 
         AND c.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
         AND c.driver_id NOT IN (124362,123331,124666,124751)
         group by date(a.add_time);''' %(city_sn,time_up,time_down)
    #日订单数
    sql02='''SELECT date(add_time) 日期,COUNT(1) 日订单数 FROM mgo_order WHERE status=1
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005'))
    AND driver_id NOT IN (124362,123331,124666,124751)
    and date(add_time) between '%s' AND '%s' group by date(add_time)'''%(city_sn,time_up,time_down)
    #累计激活司机数
    df03=pd.DataFrame(columns=['日期','累计激活司机数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql03='''SELECT '%s' 日期,count(1) 累计激活司机数 FROM   mgo.mgo_driver_info c
                  left join mgo.mgo_driver a  on c.driver_id = a.id
                  where date(a.checked_time) <= '%s'  AND c.distric_sn in (select distric_sn from mgo_city where city_sn = %d )
                  AND c.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
                  AND c.driver_id NOT IN (124362,123331,124666,124751)
                  '''%(day,day,city_sn)
        sub_df=reader(sql03)
        df03=pd.concat([df03,sub_df],ignore_index=True)
    df03['日期']=df03.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df03=(df03.set_index('日期').累计激活司机数-dim_ss).fillna(0)
    #新增激活司机数
    sql04='''SELECT date(a.checked_time) 日期,count(1) 新增激活司机数  FROM  mgo.mgo_driver_info c
              left join mgo.mgo_driver a  on c.driver_id = a.id
              where  c.distric_sn in (select distric_sn from mgo_city where city_sn = %d )
              AND c.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
              AND c.driver_id NOT IN (124362,123331,124666,124751)
              and date(a.checked_time) between  '%s' AND '%s' group by date(a.checked_time);''' % (city_sn,time_up,time_down)
    #周活司机数
    df05=pd.DataFrame(columns=['日期','周活司机数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql05='''SELECT '%s' 日期,count(distinct a.driver_id) 周活司机数  FROM  mgo.mgo_driver_info c  
              left join mgo.mgo_order a  on c.driver_id = a.driver_id
              where a.status = 1 and c.distric_sn in (select distric_sn from mgo_city where city_sn = %d )
              AND c.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
              AND c.driver_id NOT IN (124362,123331,124666,124751)
              and date(a.add_time) between date_sub('%s',interval 6 day) and '%s'
                  '''%(day,city_sn,day,day)
        sub_df=reader(sql05)
        df05=pd.concat([df05,sub_df],ignore_index=True)
    df05['日期']=df05.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df05=(df05.set_index('日期').周活司机数-dim_ss).fillna(0)
    #缺货司机数
    sql06='''SELECT day 日期,SUM(short_supply_cnt) 缺货司机数 FROM statis_metrics WHERE company_sn LIKE '%s%%%%'
    AND day between '%s' AND '%s' 
    AND company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    GROUP BY day'''%(company_sn,time_up,time_down)
    #在线司机数
    sql07='''SELECT date(a.add_time) 日期,count(distinct c.driver_id) 在线司机数  FROM   mgo. mgo_driver_info c  
         left join mgo_driver_shelf e on c.driver_id = e.driver_id
         left join mgo.dim_scan_log  a  on a.shelf_sn = e.shelf_sn
         where  c.distric_sn in (select distric_sn from mgo_city where city_sn = %d )
         AND date(a.add_time) between '%s' AND '%s' and  a.module = 'newHome' 
         AND c.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
         AND c.driver_id NOT IN (124362,123331,124666,124751)
         group by date(a.add_time);''' %(city_sn,time_up,time_down)
    df08=pd.DataFrame(columns=['日期','活跃司机人数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        #活跃司机人数
        sql08='''SELECT '%s' 日期,COUNT(DISTINCT driver_id) 活跃司机人数 FROM (SELECT driver_id  FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005'))
        AND driver_id NOT IN (124362,123331,124666,124751)
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=4) A'''%(day,city_sn,day-timedelta(days=6),day)
        sub_df=reader(sql08)
        df08=pd.concat([df08,sub_df],ignore_index=True)
    df08['日期']=df08.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df08=(df08.set_index('日期').活跃司机人数-dim_ss).fillna(0)
    #可接单司机数
    sql0='''SELECT day 日期,SUM(online_driver_cnt) 可接单司机数 FROM statis_metrics WHERE company_sn LIKE '%s%%%%'
    AND day between '%s' AND '%s'
    AND company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    GROUP BY day'''%(company_sn,time_up,time_down)
    #开单司机数
    sql1='''SELECT date(c.add_time) 日期,COUNT(DISTINCT a.id) 开单司机数 FROM mgo_driver a
    JOIN mgo_driver_info b
    ON b.driver_id=a.id
    JOIN mgo_order c
    ON c.driver_id=a.id
    WHERE c.status=1 AND b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d ))
    AND b.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND b.driver_id NOT IN (124362,123331,124666,124751)
    AND date(c.add_time) between '%s' AND '%s' group by date(c.add_time)'''%(city_sn,time_up,time_down)
    #开单司机数(派样)
    sql1_1='''SELECT date(c.add_time) 日期,COUNT(DISTINCT a.id) 开单司机数 FROM mgo_driver a
    JOIN mgo_driver_info b
    ON b.driver_id=a.id
    JOIN mgo_order c
    ON c.driver_id=a.id
    WHERE c.status=1 AND c.tag=1 AND (c.pay_amount)/(c.price)<0.3 AND b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d ))
    AND b.driver_id NOT IN (124362,123331,124666,124751)
    AND b.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND date(c.add_time) between '%s' AND '%s' group by date(c.add_time)'''%(city_sn,time_up,time_down)
    #开单司机数(零售)
    sql1_2='''SELECT date(c.add_time) 日期,COUNT(DISTINCT a.id) 开单司机数 FROM mgo_driver a
    JOIN mgo_driver_info b
    ON b.driver_id=a.id
    JOIN mgo_order c
    ON c.driver_id=a.id
    WHERE c.status=1 AND c.tag=1 AND (c.pay_amount)/(c.price)>=0.3 AND b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d ))
    AND b.driver_id NOT IN (124362,123331,124666,124751)
    AND b.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND date(c.add_time) between '%s' AND '%s' group by date(c.add_time)'''%(city_sn,time_up,time_down)
    #开单司机数(流量)
    sql1_3='''SELECT date(c.add_time) 日期,COUNT(DISTINCT a.id) 开单司机数 FROM mgo_driver a
    JOIN mgo_driver_info b
    ON b.driver_id=a.id
    JOIN mgo_order c
    ON c.driver_id=a.id
    WHERE c.status=1 AND c.tag!=1 AND b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d ))
    AND b.driver_id NOT IN (124362,123331,124666,124751)
    AND b.leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND date(c.add_time) between '%s' AND '%s' group by date(c.add_time)'''%(city_sn,time_up,time_down)
    #补货司机数
    sql2='''SELECT DATE(add_time) 日期,COUNT(DISTINCT driver_id) 补货司机数 FROM mgo_scm_replenishment_stream
    WHERE rep_stock>0
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND driver_id NOT IN (124362,123331,124666,124751)
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005'))
    AND date(add_time) between '%s' AND '%s' group by date(add_time)'''%(city_sn,time_up,time_down)
    #GMV
    sql4='''SELECT DATE(add_time) 日期,SUM(price)/100 GMV FROM mgo_order WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751)) AND `status`=1 
    and date(add_time) between '%s' AND '%s' group by date(add_time)'''%(city_sn,time_up,time_down)
    #交易额
    sql5='''SELECT DATE(add_time) 日期,SUM(pay_amount)/100 交易额 FROM mgo_order WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751)) AND `status`=1 
    and date(add_time) between '%s' AND '%s' group by date(add_time)'''%(city_sn,time_up,time_down)
    #订单单价
    sql6='''SELECT DATE(add_time) 日期,SUM(pay_amount)/100/COUNT(order_sn) 订单单价 FROM mgo_order WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751)) AND `status`=1 
    and date(add_time) between '%s' AND '%s' group by date(add_time)'''%(city_sn,time_up,time_down)
    #派样订单数
    sql8='''SELECT date(add_time) 日期,COUNT(1) 派样订单数 FROM mgo_order WHERE status=1
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND pay_amount/price<0.3 
    AND tag=1
    and date(add_time) between '%s' AND '%s' group by  date(add_time)'''%(city_sn,time_up,time_down)
    #流量订单数
    sql8_1='''SELECT date(add_time) 日期,COUNT(1) 流量订单数 FROM mgo_order WHERE status=1
    AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND tag!=1
    and date(add_time) between '%s' AND '%s' group by  date(add_time)'''%(city_sn,time_up,time_down)
    #商品成本
    sql9='''SELECT date(a.add_time) 日期,SUM(b.goods_purchase_price)/100 商品成本 FROM mgo_order_info a 
    JOIN mgo_sku_goods b ON a.sku_id=b.sku_id
    WHERE a.status=1
    AND a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND date(a.add_time) between '%s' AND '%s' 
    group by date(a.add_time)'''%(city_sn,time_up,time_down)
    #司机提成
    sql10='''SELECT DATE(add_time) 日期,SUM(commission)/100 司机提成 FROM mgo_driver_commission 
    WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND date(add_time) between '%s' AND '%s' 
    group by date(add_time)'''%(city_sn,time_up,time_down)
     #租赁公司提成
    sql10_1='''SELECT DATE(add_time) 日期,SUM(commission)/100 租赁公司提成 FROM mgo_driver_commission 
    WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND date(add_time) between '%s' AND '%s' 
    group by date(add_time)'''%(city_sn,time_up,time_down)
    #司机奖励
    sql11='''SELECT DATE(add_time) 日期,SUM(bonus) 司机奖励 FROM mgo_driver_bonus
    WHERE  driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND date(add_time) between '%s' AND '%s' 
    group by date(add_time)'''%(city_sn,time_up,time_down)
    #活跃司机派样提成
    sql12='''SELECT date(b.add_time) 日期,SUM(b.commission)/100 司机派样提成 FROM mgo_order a
    JOIN mgo_driver_commission b ON a.order_sn=b.order_sn
    WHERE a.status=1
    AND a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
    AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
    AND driver_id NOT IN (124362,123331,124666,124751))
    AND a.pay_amount/a.price<0.3
    AND date(b.add_time) between '%s' AND '%s' 
    group by date(b.add_time)'''%(city_sn,time_up,time_down)
    df01=(reader(sql01).set_index('日期').扫码UV-dim_ss).fillna(0)
    df02=(reader(sql02).set_index('日期').日订单数-dim_ss).fillna(0)
    df04=(reader(sql04).set_index('日期').新增激活司机数-dim_ss).fillna(0)
    df06=(reader(sql06).set_index('日期').缺货司机数-dim_ss).fillna(0)
    df07=(reader(sql07).set_index('日期').在线司机数-dim_ss).fillna(0)
    df0=(reader(sql0).set_index('日期').可接单司机数-dim_ss).fillna(0)
    df1=(reader(sql1).set_index('日期').开单司机数-dim_ss).fillna(0)
    df1_1=(reader(sql1_1).set_index('日期').开单司机数-dim_ss).fillna(0)
    df1_2=(reader(sql1_2).set_index('日期').开单司机数-dim_ss).fillna(0)
    df1_3=(reader(sql1_3).set_index('日期').开单司机数-dim_ss).fillna(0)
    df2=(reader(sql2).set_index('日期').补货司机数-dim_ss).fillna(0)
    df4=(reader(sql4).set_index('日期').GMV-dim_ss).fillna(0)
    df5=(reader(sql5).set_index('日期').交易额-dim_ss).fillna(0)
    df6=(reader(sql6).set_index('日期').订单单价-dim_ss).fillna(0)
    df8=(reader(sql8).set_index('日期').派样订单数-dim_ss).fillna(0)
    df8_1=(reader(sql8_1).set_index('日期').流量订单数-dim_ss).fillna(0)
    df9=(reader(sql9).set_index('日期').商品成本-dim_ss).fillna(0)
    df10=(reader(sql10).set_index('日期').司机提成-dim_ss).fillna(0)
    df10_1=(reader(sql10_1).set_index('日期').租赁公司提成-dim_ss).fillna(0)
    if company_sn=='HZ':
        df10_1=df10_1-df10_1
    df11=(reader(sql11).set_index('日期').司机奖励-dim_ss).fillna(0)
    df12=(reader(sql12).set_index('日期').司机派样提成-dim_ss).fillna(0)
    if city_sn==440100:
        df0=pd.DataFrame(columns=['日期','可接单司机数'])
        for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
            day=day.date()
            sql0_1='''SELECT '%s' 日期,COUNT(DISTINCT a.driver_id) 可接单司机数 FROM mgo_scm_replenishment_stream a 
            JOIN mgo_driver b
            ON a.driver_id=b.id
            JOIN mgo_driver_info c
            ON b.id=c.driver_id
            WHERE a.rep_stock=1
            AND a.driver_id IN
            (SELECT driver_id FROM mgo_driver_info WHERE distric_sn in (select distric_sn from mgo.mgo_city where city_sn = %d))
            AND a.sku_id NOT IN (220,221,223,224,237,238,239,242,243)
            AND a.driver_id NOT IN (SELECT id FROM mgo_driver WHERE tel IN (SELECT mobile FROM mgo_ding_talk_user))
            AND b.is_checked=1
            AND DATE(b.checked_time)<='%s'
            AND c.leasing_company_sn!='GZ-0005' '''%(day,city_sn,day)
            sub_df=reader(sql0_1)
            df0=pd.concat([df0,sub_df],ignore_index=True)
        df0['日期']=df0.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
        df0=(df0.set_index('日期').可接单司机数-dim_ss).fillna(0)
    df3=pd.DataFrame(columns=['日期','近7天补货司机数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        #近7天补货司机
        sql3='''SELECT '%s' 日期,COUNT(DISTINCT driver_id) 近7天补货司机数 FROM mgo_scm_replenishment_stream
        WHERE rep_stock>0
        AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND DATE(add_time) BETWEEN '%s' AND '%s' '''%(day,city_sn,day-timedelta(days=6),day)
        sub_df=reader(sql3)
        df3=pd.concat([df3,sub_df],ignore_index=True)
    df3['日期']=df3.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df3=(df3.set_index('日期').近7天补货司机数-dim_ss).fillna(0)
    df13=pd.DataFrame(columns=['日期','活跃司机提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round(((day-first_day)/timedelta(days=1)+1)*0.5)
        #活跃司机提成
        sql13='''SELECT '%s' 日期,SUM(commission)/100 活跃司机提成 FROM mgo_driver_commission 
        WHERE DATE(add_time) BETWEEN '%s' AND '%s'
        AND driver_id IN 
        (SELECT driver_id FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d)'''%(day,first_day,day,city_sn,first_day,day,active_day)
        sub_df=reader(sql13)
        df13=pd.concat([df13,sub_df],ignore_index=True)
    df13['日期']=df13.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df13=(df13.set_index('日期').活跃司机提成-dim_ss).fillna(0)
    df14=pd.DataFrame(columns=['日期','活跃司机奖励'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round(((day-first_day)/timedelta(days=1)+1)*0.5)
        #活跃司机奖励
        sql14='''SELECT '%s' 日期,SUM(bonus) 活跃司机奖励 FROM mgo_driver_bonus
        WHERE DATE(add_time) BETWEEN '%s' AND '%s'
        AND driver_id IN 
        (SELECT driver_id FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d)'''%(day,first_day,day,city_sn,first_day,day,active_day)
        sub_df=reader(sql14)
        df14=pd.concat([df14,sub_df],ignore_index=True)
    df14['日期']=df14.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df14=(df14.set_index('日期').活跃司机奖励-dim_ss).fillna(0)
    #本月累计活跃司机分类型奖励
    df14_1=pd.DataFrame(columns=['日期','策略','补货','APP'])
    first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round(((day-first_day)/timedelta(days=1)+1)*0.5)
        sql14_1='''SELECT '%s' 日期,
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%冲单%%%%' or b.bonus_type_description LIKE '%%%%出单%%%%' 
        OR b.bonus_type_description LIKE '%%%%十一%%%%' THEN a.bonus ELSE 0 END) 策略, 
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%补货%%%%' THEN a.bonus ELSE 0 END) 补货,
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%签到%%%%' THEN a.bonus ELSE 0 END) APP
        FROM mgo_driver_bonus a
        JOIN mgo_driver_bonus_type b ON a.bonus_type=b.bonus_type_id
        WHERE a.driver_id IN (SELECT driver_id FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d)
        and date(a.add_time) between '%s' AND '%s'
        '''%(day,city_sn,first_day,day,active_day,first_day,day)
        sub_df=reader(sql14_1)
        df14_1=pd.concat([df14_1,sub_df],ignore_index=True)
    df14_1['日期']=df14_1.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df14_1_1=(df14_1.set_index('日期').策略-dim_ss).fillna(0)
    df14_1_2=(df14_1.set_index('日期').补货-dim_ss).fillna(0)
    df14_1_3=(df14_1.set_index('日期').APP-dim_ss).fillna(0)
    df14_1=pd.concat([df14_1_1,df14_1_2,df14_1_3],axis=1)
    df14_1_4=df14-df14_1_1-df14_1_2-df14_1_3
    #活跃司机派样提成
    df15=pd.DataFrame(columns=['日期','活跃司机派样提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round(((day-first_day)/timedelta(days=1)+1)*0.5)
        sql15='''SELECT '%s' 日期,SUM(b.commission)/100 活跃司机派样提成 FROM mgo_order a
        JOIN mgo_driver_commission b ON a.order_sn=b.order_sn
        WHERE a.status=1
        AND date(b.add_time) BETWEEN '%s' AND '%s'
        AND a.pay_amount/a.price<0.3 and tag=1
        AND a.driver_id IN 
        (SELECT driver_id FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d)'''%(day,first_day,day,city_sn,first_day,day,active_day)
        sub_df=reader(sql15)
        df15=pd.concat([df15,sub_df],ignore_index=True)
    df15['日期']=df15.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df15=(df15.set_index('日期').活跃司机派样提成-dim_ss).fillna(0)
    #活跃司机流量提成
    df15_1=pd.DataFrame(columns=['日期','活跃司机流量提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round(((day-first_day)/timedelta(days=1)+1)*0.5)
        sql15_1='''SELECT '%s' 日期,SUM(b.commission)/100 活跃司机流量提成 FROM mgo_order a
        JOIN mgo_driver_commission b ON a.order_sn=b.order_sn
        WHERE a.status=1
        AND date(b.add_time) BETWEEN '%s' AND '%s'
        AND tag!=1
        AND a.driver_id IN 
        (SELECT driver_id FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d)'''%(day,first_day,day,city_sn,first_day,day,active_day)
        sub_df=reader(sql15_1)
        df15_1=pd.concat([df15_1,sub_df],ignore_index=True)
    df15_1['日期']=df15_1.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df15_1=(df15_1.set_index('日期').活跃司机流量提成-dim_ss).fillna(0)
    #活跃司机零售提成
    df15_2=df13-df15-df15_1
    df16=pd.DataFrame(columns=['日期','本月客单价'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        #客单价
        day=day.date()
        sql16='''SELECT '%s' 日期,SUM(pay_amount)/100/COUNT(DISTINCT user_id) 本月客单价 FROM mgo_order 
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1 
        AND date(add_time) BETWEEN '%s' AND '%s' '''%(day,city_sn,first_day,day)
        sub_df=reader(sql16)
        df16=pd.concat([df16,sub_df],ignore_index=True)
    df16['日期']=df16.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df16=(df16.set_index('日期').本月客单价-dim_ss).fillna(0)
    #
    #计算本月累计单均收益
    #本月累计交易额
    df5_n=pd.DataFrame(columns=['日期','本月累计交易额'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql5_n='''SELECT '%s' 日期,SUM(pay_amount)/100 本月累计交易额 FROM mgo_order WHERE driver_id IN 
        (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1 
        and date(add_time) between '%s' AND '%s' '''%(day,city_sn,datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),day)
        sub_df=reader(sql5_n)
        df5_n=pd.concat([df5_n,sub_df],ignore_index=True)
    df5_n['日期']=df5_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df5_n=(df5_n.set_index('日期').本月累计交易额-dim_ss).fillna(0)
    #本月累计商品成本
    df9_n=pd.DataFrame(columns=['日期','本月累计商品成本'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql9_n='''SELECT '%s' 日期,SUM(b.goods_purchase_price)/100 本月累计商品成本 FROM mgo_order_info a 
        JOIN mgo_sku_goods b ON a.sku_id=b.sku_id
        WHERE a.status=1
        AND a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND date(a.add_time) between '%s' AND '%s' 
        '''%(day,city_sn,datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),day)
        sub_df=reader(sql9_n)
        df9_n=pd.concat([df9_n,sub_df],ignore_index=True)
    df9_n['日期']=df9_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df9_n=(df9_n.set_index('日期').本月累计商品成本 -dim_ss).fillna(0)
    #本月累计司机提成
    df10_n=pd.DataFrame(columns=['日期','本月累计司机提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql10_n='''SELECT '%s' 日期,SUM(commission)/100 本月累计司机提成 FROM mgo_driver_commission 
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND date(add_time) between '%s' AND '%s' 
        '''%(day,city_sn,datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),day)
        sub_df=reader(sql10_n)
        df10_n=pd.concat([df10_n,sub_df],ignore_index=True)
    df10_n['日期']=df10_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df10_n=(df10_n.set_index('日期').本月累计司机提成-dim_ss).fillna(0)
    #本月累计司机派样提成
    df12_n=pd.DataFrame(columns=['日期','本月累计司机派样提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql12_n='''SELECT '%s' 日期,SUM(b.commission)/100 本月累计司机派样提成 FROM mgo_order a
        JOIN mgo_driver_commission b ON a.order_sn=b.order_sn
        WHERE a.status=1 AND a.tag=1
        AND a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND a.pay_amount/a.price<0.3
        AND date(b.add_time) between '%s' AND '%s' 
        '''%(day,city_sn,first_day,day)
        sub_df=reader(sql12_n)
        df12_n=pd.concat([df12_n,sub_df],ignore_index=True)
    df12_n['日期']=df12_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df12_n=(df12_n.set_index('日期').本月累计司机派样提成-dim_ss).fillna(0)
    #本月累计司机流量提成
    df12_1_n=pd.DataFrame(columns=['日期','本月累计司机流量提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql12_n='''SELECT '%s' 日期,SUM(b.commission)/100 本月累计司机流量提成 FROM mgo_order a
        JOIN mgo_driver_commission b ON a.order_sn=b.order_sn
        WHERE a.status=1 AND a.tag!=1
        AND a.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND date(b.add_time) between '%s' AND '%s' 
        '''%(day,city_sn,first_day,day)
        sub_df=reader(sql12_n)
        df12_1_n=pd.concat([df12_1_n,sub_df],ignore_index=True)
    df12_1_n['日期']=df12_1_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df12_1_n=(df12_1_n.set_index('日期').本月累计司机流量提成-dim_ss).fillna(0)
    #本月累计司机零售提成
    df12_2_n=df10_n-df12_n-df12_1_n
    #本月累计租赁公司提成
    df10_1_n=pd.DataFrame(columns=['日期','本月累计租赁公司提成'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql10_1_n='''SELECT '%s' 日期,SUM(commission)/100 本月累计租赁公司提成 FROM mgo_driver_commission 
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND date(add_time) between '%s' AND '%s' 
        '''%(day,city_sn,datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),day)
        sub_df=reader(sql10_1_n)
        df10_1_n=pd.concat([df10_1_n,sub_df],ignore_index=True)
    df10_1_n['日期']=df10_1_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df10_1_n=(df10_1_n.set_index('日期').本月累计租赁公司提成-dim_ss).fillna(0)
    #本月累计司机奖励
    df11_n=pd.DataFrame(columns=['日期','本月累计开单司机奖励'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql11_n='''SELECT '%s' 日期,SUM(bonus) 本月累计开单司机奖励 FROM mgo_driver_bonus
        WHERE  driver_id IN (SELECT driver_id FROM mgo_order WHERE status=1 AND driver_id IN
        (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND DATE(add_time) between '%s' AND '%s')
        AND date(add_time) between '%s' AND '%s' 
        '''%(day,city_sn,first_day,day,first_day,day)
        sub_df=reader(sql11_n)
        df11_n=pd.concat([df11_n,sub_df],ignore_index=True)
    df11_n['日期']=df11_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df11_n=(df11_n.set_index('日期').本月累计开单司机奖励-dim_ss).fillna(0)
    #本月累计司机分类型奖励
    df11_1_n=pd.DataFrame(columns=['日期','策略','补货','APP'])
    first_day=datetime.strptime(datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql11_1_n='''SELECT '%s' 日期,
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%冲单%%%%' or b.bonus_type_description LIKE '%%%%出单%%%%' 
        OR b.bonus_type_description LIKE '%%%%十一%%%%' THEN a.bonus ELSE 0 END) 策略, 
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%补货%%%%' THEN a.bonus ELSE 0 END) 补货,
        SUM(CASE WHEN b.bonus_type_description LIKE '%%%%签到%%%%' THEN a.bonus ELSE 0 END) APP
        FROM mgo_driver_bonus a
        JOIN mgo_driver_bonus_type b ON a.bonus_type=b.bonus_type_id
        WHERE a.driver_id IN (SELECT driver_id FROM mgo_order WHERE status=1 AND driver_id IN
        (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND DATE(add_time) between '%s' AND '%s')
        and date(a.add_time) between '%s' AND '%s'
        '''%(day,city_sn,first_day,day,first_day,day)
        sub_df=reader(sql11_1_n)
        df11_1_n=pd.concat([df11_1_n,sub_df],ignore_index=True)
    df11_1_n['日期']=df11_1_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df11_1_n_1=(df11_1_n.set_index('日期').策略-dim_ss).fillna(0)
    df11_1_n_2=(df11_1_n.set_index('日期').补货-dim_ss).fillna(0)
    df11_1_n_3=(df11_1_n.set_index('日期').APP-dim_ss).fillna(0)
    df11_1_n=pd.concat([df11_1_n_1,df11_1_n_2,df11_1_n_3],axis=1)
    df11_1_n_4=df11_n-df11_1_n_1-df11_1_n_2-df11_1_n_3
    #本月累计订单数
    df02_n=pd.DataFrame(columns=['日期','本月累计订单数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql02_n='''SELECT '%s' 日期,COUNT(1) 本月累计订单数 FROM mgo_order WHERE status=1
        AND driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        and date(add_time) between '%s' AND '%s' '''%(day,city_sn,datetime.strptime(time_up,'%Y-%m-%d').date().strftime('%Y-%m-01'),day)
        sub_df=reader(sql02_n)
        df02_n=pd.concat([df02_n,sub_df],ignore_index=True)
    df02_n['日期']=df02_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df02_n=(df02_n.set_index('日期').本月累计订单数-dim_ss).fillna(0)
    #本月累计开单司机数
    df1_n=pd.DataFrame(columns=['日期','本月累计开单司机数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        sql1_n='''SELECT '%s' 日期,COUNT(DISTINCT a.id) 本月累计开单司机数 FROM mgo_driver a
        JOIN mgo_driver_info b
        ON b.driver_id=a.id
        JOIN mgo_order c
        ON c.driver_id=a.id
        WHERE b.driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND date(c.add_time) between '%s' AND '%s' '''%(day,city_sn,first_day,day)
        sub_df=reader(sql1_n)
        df1_n=pd.concat([df1_n,sub_df],ignore_index=True)
    df1_n['日期']=df1_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df1_n=(df1_n.set_index('日期').本月累计开单司机数-dim_ss).fillna(0)
    #本月累计活跃司机数
    df08_n=pd.DataFrame(columns=['日期','本月累计活跃司机数'])
    for day in  pd.date_range(start=time_up,end=time_down,freq='1D'):
        day=day.date()
        active_day=round((day-first_day)/timedelta(days=1)*0.5)
        sql08_n='''SELECT '%s' 日期,COUNT(DISTINCT driver_id) 本月累计活跃司机数 FROM (SELECT driver_id  FROM mgo_order
        WHERE driver_id IN (select driver_id from mgo_driver_info where distric_sn in (select distric_sn from mgo_city where city_sn = %d )
        AND leasing_company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')
        AND driver_id NOT IN (124362,123331,124666,124751))
        AND `status`=1
        AND date(add_time) BETWEEN '%s' AND '%s'
        GROUP BY driver_id
        HAVING COUNT(DISTINCT date(add_time))>=%d) A'''%(day,city_sn,first_day,day,active_day)
        sub_df=reader(sql08_n)
        df08_n=pd.concat([df08_n,sub_df],ignore_index=True)
    df08_n['日期']=df08_n.日期.apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
    df08_n=(df08_n.set_index('日期').本月累计活跃司机数-dim_ss).fillna(0)
    #计算本月累计单均收益
    df21=(df5_n-df9_n-df10_n-df10_1_n-df11_n)/df02_n
    #计算司机收入
    df22=df10_n+df11_n
    #计算近7天司机补货率
    df23=df3/df0
    #计算司机周活率
    df24=df05/df0
    #计算司机缺货率
    df25=df06/df0
    #计算司机在线率
    df26=df07/df0
    #计算在线司机开单率
    df27=df1/df07
    #计算司机日活率
    df28=df1/df0
    #计算单车扫码uv
    df29=df01/df07
    #计算单车订单数
    df30=df02/df07
    #计算扫码转化率
    df38=df30/df29
    #计算C端补贴
    df31=df4-df5
    #计算非派样零售订单数
    df32=df02-df8-df8_1
    #计算司机非派样订单累计收入
    df33=df10_n-df12_n
    #计算活跃司机累计收入
    df34=df13+df14
    #计算活跃司机累计非派样提成
    df35=df13-df15
    #计算司机累计人均收入
    df36=df22/df1_n
    #计算活跃司机人均收入
    df37=df34/df08_n
    df=pd.concat([df02,df3,df21,df36,
                  df02,df8,df32,df8_1,df0,df03,df04,df28,df26,df07,df25,df06,df27,df1,df1_1,df1_2,df1_3,df30,df29,df38,
                  df21,df5,df4,df31,df6,df02,df9,df10,df11,df10_1,
                  df36,df22,df1_n,df10_n,df12_2_n,df12_n,df12_1_n,df11_n,df11_1_n,df11_1_n_4,df37,df34,df08_n,df13,df15_2,df15,df15_1,df14,df14_1,df14_1_4],axis=1)
    df.columns=['日订单数','周上车能力','单均收益','司机人均收入',
                '日订单数','派样订单数','零售订单','流量订单','可接单司机数','累计激活司机数','新增激活司机数','司机日活率','在线率','日在线司机数','司机缺货率','日缺货司机数',
                '在线产单率','日产单司机数','产派样单司机数','产零售单司机数','产流量单司机数','单车订单数','单车扫码uv','扫码转化率',
                '单均收益','交易额','GMV','C端补贴','订单单价','订单量','商品成本','司机提成','司机奖励','租赁公司提成',
                '司机人均收入','司机收入','司机人数','司机提成','零售提成','派样提成','流量提成','司机奖励','策略奖励','补货奖励','APP奖励','其他奖励','活跃司机人均收入','活跃司机收入','活跃司机人数','活跃司机提成',
                '活跃司机零售提成','活跃司机派样提成','活跃司机流量提成','活跃司机奖励','策略奖励','补货奖励','APP奖励','其他奖励']
    return df

In [5]:
#将日期转换为本月1日
#round((datetime.strptime('2018-9-12','%Y-%m-%d').date()-datetime.strptime('2018-9-1','%Y-%m-%d').date())/timedelta(days=1)*0.5)

In [6]:
def eSend(sender,receiver,username,password,smtpserver,subject,e_content,file_path,file_name):
    try:
       #邮件头
        message = MIMEMultipart()
        message['From'] = sender#发送
        message['To'] = ",".join(receiver)#收件
        message['Subject'] = Header(subject, 'utf-8')
        message.attach(MIMEText(e_content, 'plain', 'utf-8'))# 邮件正文
# 构造附件
        att1 = MIMEText(open(file_path+file_name,'rb').read(), 'base64', 'utf-8')
        att1["Content-Type"] = 'application/octet-stream'
        att1.add_header('Content-Disposition', 'attachment', filename=('gbk', '', file_name) )
        message.attach(att1)
#执行
        smtp = smtplib.SMTP()
        smtp.connect(smtpserver,25) #连接服务器
        smtp.login(username, password) #登录
        smtp.sendmail(sender, receiver, message.as_string())  #发送
        smtp.quit()
    except:
        print("SEND FAILED")

In [7]:
final_df1=generate_df(city_sn=330100)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'mgo.statis_metrics' doesn't exist") [SQL: "SELECT day 日期,SUM(short_supply_cnt) 缺货司机数 FROM statis_metrics WHERE company_sn LIKE 'HZ%%'\n    AND day between '2018-1-1' AND '2019-6-30' \n    AND company_sn NOT IN ('SZ-0001','SH-0016','GZ-0005')\n    GROUP BY day"] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
final_df2=generate_df(city_sn=310100)

In [ ]:
final_df3=generate_df(city_sn=440100)

In [ ]:
writer=pd.ExcelWriter('城市日报%s.xlsx'%((datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")))
final_df1.to_excel(writer,'杭州')
final_df2.to_excel(writer,'上海')
final_df3.to_excel(writer,'广州')
writer.save()

In [ ]:
if __name__ == '__main__':
    final_df1=generate_df(city_sn=330100)
    final_df2=generate_df(city_sn=310100)
    final_df3=generate_df(city_sn=440100)
    writer=pd.ExcelWriter('城市日报%s.xlsx'%((datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")))
    final_df1.to_excel(writer,'杭州')
    final_df2.to_excel(writer,'上海')
    final_df3.to_excel(writer,'广州')
    writer.save()
    sender = 'xuchong@xiaojubianli.com'  # 发件人邮箱
    receiver = ['loujunhao@xiaojubianli.com']  # 收件人邮箱，可以多个（列表形式）群发
    username = 'xuchong@xiaojubianli.com'  # 发件人姓名
    password = 'woaishuiXC911021'  # smtp密码，qq是给你分配一串，163是自己设置
    smtpserver = 'smtp.mxhichina.com'  # 邮箱服务器
    subject = '城市日报%s.xlsx'%((datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d'))      #邮件标题
    e_content = '城市日报%s,请查收\n\n\nRegards\n  Chong'%((datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d"))  #邮件正文
    #__file_____
    file_path = "D:/work/数据导出/城市日报/"    #文件位置
    file_name='城市日报%s.xlsx'%((datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d"))    #文件名
    eSend(sender,receiver,username,password,smtpserver,subject,e_content,file_path,file_name)