In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
import math
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta

In [2]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [3]:
datetime.now().strftime('%Y-%m-%d')

'2018-08-04'

In [4]:
def generate_data(day=(datetime.now()-timedelta(days=1)).strftime('%Y-%m-%d')):
    ###########################################司机装车前一周
    #被扫码人次数(现有盒子)
    sql1='''SELECT a.driver_id,COUNT(DISTINCT b.shelf_sn,b.user_id,DATE(b.add_time)) scan_times FROM bi.mgo_cafecar_info a LEFT JOIN
    dim_scan_log b ON a.shelf_sn=b.shelf_sn AND DATEDIFF(a.start_date,DATE(b.add_time)) BETWEEN 1 AND 7 #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #订单量
    sql2='''SELECT count(b.order_sn) order_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND DATEDIFF(a.start_date,DATE(b.update_time)) BETWEEN 1 AND 7 #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #购买件数
    sql3='''SELECT count(b.order_sn) product_amount FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order_info b ON a.driver_id=b.driver_id AND b.status=1 AND DATEDIFF(a.start_date,DATE(b.update_time)) BETWEEN 1 AND 7 #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #购买用户数
    sql4='''SELECT COUNT(DISTINCT b.user_id) cus_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND DATEDIFF(a.start_date,DATE(b.update_time)) BETWEEN 1 AND 7 #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    ###########################################司机装车后累计
    #被扫码人次数
    sql5='''SELECT a.driver_id,COUNT(DISTINCT b.shelf_sn,b.user_id,DATE(b.add_time)) scan_times FROM bi.mgo_cafecar_info a LEFT JOIN
    dim_scan_log b ON a.shelf_sn=b.shelf_sn AND date(b.add_time) BETWEEN (a.start_date+INTERVAL 1 DAY) AND (DATE(NOW())-INTERVAL 1 DAY) #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #订单量
    sql6='''SELECT count(b.order_sn) order_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time) BETWEEN (a.start_date+INTERVAL 1 DAY) AND (DATE(NOW())-INTERVAL 1 DAY) #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #购买件数
    sql7='''SELECT count(b.order_sn) product_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order_info b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time) BETWEEN (a.start_date+INTERVAL 1 DAY) AND (DATE(NOW())-INTERVAL 1 DAY) #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #购买咖啡件数
    sql8='''SELECT count(b.order_sn) coffee_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order_info b ON a.driver_id=b.driver_id AND b.sku_id=142 AND b.status=1 AND date(b.update_time) BETWEEN (a.start_date+INTERVAL 1 DAY) AND (DATE(NOW())-INTERVAL 1 DAY) #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    #购买用户数
    sql9='''SELECT COUNT(DISTINCT b.user_id) cus_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time) BETWEEN (a.start_date+INTERVAL 1 DAY) AND (DATE(NOW())-INTERVAL 1 DAY) #条件写在ON外面，leftjoin没被匹配到的会被过滤
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''
    ###########################################司机某日数据
    #被扫码人次数
    sql10='''SELECT a.driver_id,COUNT(DISTINCT b.shelf_sn,b.user_id,DATE(b.add_time)) scan_times FROM bi.mgo_cafecar_info a LEFT JOIN
    dim_scan_log b ON a.shelf_sn=b.shelf_sn AND date(b.add_time)='%s'
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''%(day)
    #订单数
    sql11='''SELECT count(b.order_sn) order_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time)='%s'
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''%(day)
    #购买件数
    sql12='''SELECT count(b.order_sn) product_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order_info b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time)='%s'
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''%(day)
    #购买咖啡件数
    sql13='''SELECT count(b.order_sn) coffee_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order_info b ON a.driver_id=b.driver_id AND b.sku_id=142 AND b.status=1 AND date(b.update_time)='%s'
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''%(day)
    #购买人数
    sql14='''SELECT count(DISTINCT user_id) cus_num FROM bi.mgo_cafecar_info a LEFT JOIN
    mgo_order b ON a.driver_id=b.driver_id AND b.status=1 AND date(b.update_time)='%s'
    GROUP BY a.driver_id
    ORDER BY a.start_date,a.tel'''%(day)
    #装车前1周数据
    past_df=pd.concat([reader(sql1),reader(sql2),reader(sql3),reader(sql4)],axis=1)
    #装车后累计数据
    accum_df=pd.concat([reader(sql5),reader(sql6),reader(sql7),reader(sql8),reader(sql9)],axis=1)
    #装车后指定日期数据
    specific_df=pd.concat([reader(sql10),reader(sql11),reader(sql12),reader(sql13),reader(sql14)],axis=1)
    return past_df,accum_df,specific_df

In [5]:
past_df,accum_df,specific_df=generate_data(day='2018-08-03')

In [8]:
specific_df

    driver_id  scan_times  order_num  product_num  coffee_num  cus_num
0      120876           0          6            6           4        5
1      120741           3          1            1           0        1
2      119875           0          1            1           0        1
3      119872           8          4            4           0        4
4      120221           0          1            2           1        1
5      121342           0          2            2           1        2
6      119898           0          0            0           0        0
7      118818           0          0            0           0        0
8      117176           2          1            1           1        1
9      120587          17         10           15           6        7
10     118907           2          1            1           0        1
11     119887           0          0            0           0        0
12     119973           4          2            2           2        2
13     120015           6          3            4           0        3
14     119877           0          0            0           0        0
15     119894           0          0            0           0        0
16     119064           2          1            1           1        1
17     120212          10          5            5           3        5
18     119488           0          0            0           0        0
19     119856           0          0            0           0        0
20     121842           1          0            0           0        0
21     119454           5          2            2           1        2
22     121841           2          2            3           0        1
23     121078           0          0            0           0        0
24     119977           0          0            0           0        0
25     121979           2          1            1           1        1
26     121978           0          0            0           0        0
27     119975           0          0            0           0        0