In [1]:
import pandas as pd
import numpy as np
import sys
import os
import pymysql
from sqlalchemy import create_engine
from datetime import datetime, date, timedelta
from openpyxl import load_workbook
import xlrd                           #导入模块
from xlutils.copy import copy        #导入copy模块

In [2]:
def reader(query,db='mgo'):
    sql=query
    engine=create_engine("mysql+pymysql://bi:VS6w{{6wiv@47.100.182.67:3306/{0}?charset=utf8".format(db))
    df=pd.read_sql(sql,engine)
    return df

In [3]:
    day=(datetime.today() - timedelta(days=1)).strftime("%Y-%m-%d")
    yesterday=(datetime.today() - timedelta(days=2)).strftime("%Y-%m-%d")
    day_chinese=(datetime.today() - timedelta(days=1)).strftime("%m{0}%d{1}").format('月','日')
    first_day=datetime.strptime(datetime.strptime(day,'%Y-%m-%d').date().strftime('%Y-%m-01'),'%Y-%m-%d').date()
    day=datetime.strptime(day,'%Y-%m-%d').date()
    #租赁公司名
    sql0='''SELECT leasing_company_name FROM mgo_leasing_companies WHERE leasing_company_sn LIKE 'SH%%' '''
    df0=reader(sql0).set_index('leasing_company_name')
    df0[0]=0
    df0=df0[0]
    #上车数
    sql1='''SELECT c.leasing_company_name,COUNT(1) 上车数 FROM 
    (SELECT * FROM mgo_driver_third_service WHERE tag='TS-0002' AND `status`=0 AND is_delete=0) a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE b.leasing_company_sn LIKE '%%%%SH%%%%'
    AND DATE(a.add_time)='%s'
    GROUP BY b.leasing_company_sn ''' %(day)
    df1=(reader(sql1).set_index('leasing_company_name').上车数-df0).fillna(0)
    #累计可接单司机数
    sql2='''SELECT c.leasing_company_name,COUNT(1) 累计可接单司机数 FROM 
    (SELECT * FROM mgo_driver_third_service WHERE tag='TS-0002' AND `status`=0 AND is_delete=0) a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_driver d ON b.driver_id=d.id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE b.leasing_company_sn LIKE '%%%%SH%%%%' AND d.is_checked=1
    AND DATE(a.add_time)<='%s'
    GROUP BY b.leasing_company_sn'''%(day)
    df2=(reader(sql2).set_index('leasing_company_name').累计可接单司机数-df0).fillna(0)
    #本月激活司机数
    sql2_1='''SELECT c.leasing_company_name,COUNT(1) 本月激活司机数 FROM 
    (SELECT * FROM mgo_driver_third_service WHERE tag='TS-0002' AND `status`=0 AND is_delete=0) a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_driver d ON b.driver_id=d.id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE b.leasing_company_sn LIKE '%%%%SH%%%%'
    AND DATE(a.add_time) BETWEEN '%s' AND '%s'
    GROUP BY b.leasing_company_sn
    '''%(first_day,day)
    df2_1=(reader(sql2_1).set_index('leasing_company_name').本月激活司机数-df0).fillna(0)
    #总激活司机数
    sql3='''SELECT c.leasing_company_name,COUNT(1) 总激活司机数 FROM 
    (SELECT * FROM mgo_driver_third_service WHERE tag='TS-0002' AND `status`=0 AND is_delete=0) a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_driver d ON b.driver_id=d.id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE b.leasing_company_sn LIKE '%%%%SH%%%%'
    AND DATE(a.add_time)<='%s'
    GROUP BY b.leasing_company_sn
    '''%(day)
    df3=(reader(sql3).set_index('leasing_company_name').总激活司机数-df0).fillna(0)
    #退货司机数
    sql4='''SELECT c.leasing_company_name,COUNT(1) 退货司机数 FROM mgo_driver a 
    JOIN mgo_driver_info b ON a.id=b.driver_id
    LEFT JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE a.is_checked=-2 AND DATE(a.update_time)='%s'
    AND b.leasing_company_sn LIKE '%%%%SH%%%%'
    GROUP BY c.leasing_company_sn
    ORDER BY c.leasing_company_sn
    '''%(day)
    df4=(reader(sql4).set_index('leasing_company_name').退货司机数-df0).fillna(0)
    #本月累计退货司机数
    sql4_1='''SELECT c.leasing_company_name,COUNT(1) 退货司机数 FROM mgo_driver a 
    JOIN mgo_driver_info b ON a.id=b.driver_id
    LEFT JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE a.is_checked=-2 AND DATE(a.update_time) BETWEEN '%s' AND '%s'
    AND b.leasing_company_sn LIKE '%%%%SH%%%%'
    GROUP BY c.leasing_company_sn
    ORDER BY c.leasing_company_sn
    '''%(first_day,day)
    df4_1=(reader(sql4_1).set_index('leasing_company_name').退货司机数-df0).fillna(0)
    #累计退货司机数
    sql4_2='''SELECT c.leasing_company_name,COUNT(1) 退货司机数 FROM mgo_driver a 
    JOIN mgo_driver_info b ON a.id=b.driver_id
    LEFT JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE a.is_checked=-2 AND DATE(a.update_time)<='%s'
    AND b.leasing_company_sn LIKE '%%%%SH%%%%'
    GROUP BY c.leasing_company_sn
    ORDER BY c.leasing_company_sn
    '''%(day)
    df4_2=(reader(sql4_2).set_index('leasing_company_name').退货司机数-df0).fillna(0)
    #日活司机数
    sql5='''SELECT c.leasing_company_name,COUNT(DISTINCT a.driver_id) 日活司机数
    FROM mgo_life_record a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE a.driver_id NOT IN (17902,101) 
    AND a.driver_id IN (SELECT driver_id FROM bi.mgo_lifecar_info)
    AND b.leasing_company_sn LIKE '%%%%SH%%%%'
    AND DATE(a.add_time)='%s'
    GROUP BY b.leasing_company_sn
    '''%(day)
    df5=(reader(sql5).set_index('leasing_company_name').日活司机数-df0).fillna(0)
    #日订单数
    sql6='''SELECT c.leasing_company_name,COUNT(1) 日订单数
    FROM mgo_life_record a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    WHERE a.driver_id NOT IN (17902,101)
    AND a.driver_id IN (SELECT driver_id FROM bi.mgo_lifecar_info)
    AND b.leasing_company_sn LIKE '%%%%SH%%%%' 
    AND a.`status`=2
    AND a.life_sn LIKE '%%%%YX%%%%'
    AND DATE(a.add_time)='%s'
    GROUP BY b.leasing_company_sn
    '''%(day)
    df6=(reader(sql6).set_index('leasing_company_name').日订单数-df0).fillna(0)
    #连续3天不活跃
    sql7='''SELECT leasing_company_name,COUNT(1) 连续3天不活跃 FROM
    (select a.driver_id,d.leasing_company_name from bi.mgo_lifecar_info a 
    LEFT JOIN (SELECT * FROM mgo_life_record WHERE date(add_time) BETWEEN '%s' AND '%s') b 
    ON a.driver_id=b.driver_id
    JOIN  mgo_driver_info c ON a.driver_id=c.driver_id
    JOIN mgo_leasing_companies d ON c.leasing_company_sn=d.leasing_company_sn
    WHERE a.checked_date<='%s' AND a.is_checked=1
    AND c.leasing_company_sn LIKE '%%%%SH%%%%'
    GROUP BY a.driver_id
    HAVING COUNT(DISTINCT date(b.add_time))=0) A
    GROUP BY leasing_company_name
    '''%(day-timedelta(days=2),day,day-timedelta(days=2))
    df7=(reader(sql7).set_index('leasing_company_name').连续3天不活跃-df0).fillna(0)
    #复苏司机数
    sql8='''SELECT c.leasing_company_name,COUNT(1) 复苏司机数 FROM 
    (SELECT DISTINCT driver_id  FROM mgo_life_record
    WHERE DATE(add_time)='%s' AND driver_id IN
    (select a.driver_id from bi.mgo_lifecar_info a 
    LEFT JOIN (SELECT * FROM mgo_life_record WHERE date(add_time) BETWEEN '%s' AND '%s') b 
    ON a.driver_id=b.driver_id 
    WHERE a.checked_date<='%s' AND a.is_checked=1
    AND a.driver_id IN (select driver_id from mgo_driver_info where leasing_company_sn LIKE '%%%%SH%%%%')
    GROUP BY a.driver_id
    HAVING COUNT(DISTINCT date(b.add_time))=0)) a
    JOIN mgo_driver_info b ON a.driver_id=b.driver_id
    JOIN mgo_leasing_companies c ON b.leasing_company_sn=c.leasing_company_sn
    GROUP BY c.leasing_company_name
    '''%(day,day-timedelta(days=3),day-timedelta(days=1),day-timedelta(days=3))
    df8=(reader(sql8).set_index('leasing_company_name').复苏司机数-df0).fillna(0)
    df=pd.concat([df1,df2,df2_1,df3,df4,df4_1,df4_2,df5,df6,df7,df8],axis=1)
    df.columns=['上车数','累计可接单司机数','本月激活司机数','总激活司机数','退货司机数','本月累计退货司机数','累计退货司机数','日活司机数','日订单数','连续3天不活跃','复苏司机数']

D:\software\Anaconda3\lib\site-packages\ipykernel_launcher.py:138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [4]:
path1="D:/work/报表/专项/上海租赁公司/上海租赁公司日报%s.xlsx"%(day)
path2="D:/work/报表/专项/上海租赁公司/上海租赁公司日报%s.xlsx"%(yesterday)
writer=pd.ExcelWriter(path1,engine="openpyxl")
wb = load_workbook(path2)
wb.remove(wb['Sheet2'])
ws=wb['Sheet1']
ws.cell(1,1).value='上海租赁公司日报%s'%(day_chinese)
for i in range(5,22):
    ws.cell(i,3).value=day_chinese
writer.book = wb 
df.to_excel(writer, index=True, sheet_name='Sheet2', header=True)
writer.save()
writer.close()

In [5]:
#xls处理方法
'''
rb = xlrd.open_workbook('D:/work/报表/专项/上海租赁公司/上海租赁公司日报1023.xls',formatting_info=True)    #打开weng.xls文件
wb = copy(rb)                          #利用xlutils.copy下的copy函数复制
ws = wb.get_sheet(0)                   #获取表单0
ws.write(0, 0, '1024')             #改变（0,0）的值
wb.save('test.xls') #保存文件
'''

"\nrb = xlrd.open_workbook('D:/work/报表/专项/上海租赁公司/上海租赁公司日报1023.xls',formatting_info=True)    #打开weng.xls文件\nwb = copy(rb)                          #利用xlutils.copy下的copy函数复制\nws = wb.get_sheet(0)                   #获取表单0\nws.write(0, 0, '1024')             #改变（0,0）的值\nwb.save('test.xls') #保存文件\n"